In [1]:
import pandas as pd
from sqlalchemy import create_engine
from geopy.geocoders import Nominatim
import numpy as np

In [2]:
#import csv
real_estate_file = 'data/nyc-rolling-sales.csv'
real_estate_df = pd.read_csv(real_estate_file)


real_estate_df

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,0,5,1633,6440,1900,2,C2,6625000,7/19/17 0:00
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,3,31,4616,18690,1900,2,C7,-,12/14/16 0:00
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,16,1,17,2212,7803,1900,2,C7,-,12/9/16 0:00
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,...,10,0,10,2272,6794,1913,2,C4,3936272,9/23/16 0:00
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,...,6,0,6,2369,4615,1900,2,C2,8000000,11/17/16 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84543,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,,B9,37 QUAIL LANE,,...,2,0,2,2400,2575,1998,1,B9,450000,11/28/16 0:00
84544,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,,B9,32 PHEASANT LANE,,...,2,0,2,2498,2377,1998,1,B9,550000,4/21/17 0:00
84545,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,,...,2,0,2,4000,1496,1925,1,B2,460000,7/5/17 0:00
84546,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,,...,0,7,7,208033,64117,2001,4,K6,11693337,12/21/16 0:00
84547,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,,...,0,1,1,10796,2400,2006,4,P9,69300,10/27/16 0:00

In [3]:
# change address column type
real_estate_df = real_estate_df.astype({"ADDRESS": object})

real_estate_df.dtypes

BOROUGH                            int64
NEIGHBORHOOD                      object
BUILDING CLASS CATEGORY           object
TAX CLASS AT PRESENT              object
BLOCK                              int64
LOT                                int64
EASE-MENT                         object
BUILDING CLASS AT PRESENT         object
ADDRESS                           object
APARTMENT NUMBER                  object
ZIP CODE                           int64
RESIDENTIAL UNITS                  int64
COMMERCIAL UNITS                   int64
TOTAL UNITS                        int64
LAND SQUARE FEET                  object
GROSS SQUARE FEET                 object
YEAR BUILT                         int64
TAX CLASS AT TIME OF SALE          int64
BUILDING CLASS AT TIME OF SALE    object
SALE PRICE                        object
SALE DATE                         object
dtype: object

In [4]:
#change price column type

real_estate_df['SALE PRICE'] = real_estate_df['SALE PRICE'].fillna(0)

# real_estate_df['SALE PRICE'].str.replace('-','0')

real_estate_df['SALE PRICE'] = real_estate_df['SALE PRICE'].str.replace('-', "0")

real_estate_df['SALE PRICE'] = real_estate_df['SALE PRICE'].astype(str).astype(int)

real_estate_df.sample(50)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
68754,4,QUEENS VILLAGE,01 ONE FAMILY DWELLINGS,1,10666,98,,A1,89-92 221ST STREET,,...,1,0,1,3000,1520,1925,1,A1,499000,7/11/17 0:00
71289,4,ROSEDALE,01 ONE FAMILY DWELLINGS,1,13207,57,,A2,133-68 244TH STREET,,...,1,0,1,4000,1094,1950,1,A2,0,10/17/16 0:00
3061,1,GRAMERCY,02 TWO FAMILY DWELLINGS,1,899,38,,B9,236 EAST 19TH STREET,,...,2,0,2,1750,3880,1901,1,B9,7350000,11/9/16 0:00
35676,3,DOWNTOWN-FULTON MALL,22 STORE BUILDINGS,4,149,15,,K4,585 FULTON STREET,,...,0,5,5,1837,5511,1915,4,K4,0,3/29/17 0:00
44983,3,PARK SLOPE,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,955,1002,,R1,593 PRESIDENT STREET,1R,...,1,0,1,0,0,1910,2,R1,100,6/5/17 0:00
14619,1,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1539,1425,,R4,200 EAST 94TH STREET,714,...,1,0,1,-,-,1986,2,R4,1633577,11/28/16 0:00
63347,4,HOWARD BEACH,09 COOPS - WALKUP APARTMENTS,2,11451,50,,C6,"90-17 SHORE PARKWAY, 83",,...,0,0,0,-,-,1958,2,C6,160000,7/11/17 0:00
59412,4,FLUSHING-SOUTH,01 ONE FAMILY DWELLINGS,1,6982,51,,A5,74-14 175 STREET,,...,1,0,1,2000,1980,1940,1,A5,698888,1/12/17 0:00
53173,4,COLLEGE POINT,02 TWO FAMILY DWELLINGS,1,4073,29,,S2,119-20 15TH AVENUE,,...,2,1,3,2800,3040,1930,1,S2,0,3/13/17 0:00
49776,4,ASTORIA,02 TWO FAMILY DWELLINGS,1,633,6,,B2,25-77 35TH STREET,,...,2,0,2,2225,1332,1920,1,B2,0,1/9/17 0:00
35806,3,DOWNTOWN-METROTECH,13 CONDOS - ELEVATOR APARTMENTS,2,2058,1132,,R4,365 BRIDGE STREET,9L,...,1,0,1,0,0,1800,2,R4,0,7/28/17 0:00
22291,2,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3944,4423,,R4,1519 METROPOLITAN AVE,2D,...,1,0,1,0,0,0,2,R4,0,2/6/17 0:00
41903,3,MARINE PARK,01 ONE FAMILY DWELLINGS,1,8485,16,,A5,1869 COLEMAN STREET,,...,1,0,1,2300,1260,1940,1,A5,663000,3/20/17 0:00
29970,3,BOROUGH PARK,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,5488,1204,,R1,1577 56TH STREET,4,...,1,0,1,0,0,1905,2,R1,0,4/24/17 0:00
78749,5,GREAT KILLS,01 ONE FAMILY DWELLINGS,1,5494,26,,A5,453 RIDGEWOOD AVENUE,,...,1,0,1,2310,1200,2000,1,A5,0,10/6/16 0:00
2815,1,FLATIRON,13 CONDOS - ELEVATOR APARTMENTS,2,826,1083,,R4,1107 BROADWAY,12G,...,1,0,1,-,-,1915,2,R4,2250000,3/1/17 0:00
33745,3,CONEY ISLAND,01 ONE FAMILY DWELLINGS,1,7014,147,,A5,2411 MERMAID AVENUE,,...,1,0,1,1518,1815,2000,1,A5,573000,6/30/17 0:00
10015,1,MURRAY HILL,10 COOPS - ELEVATOR APARTMENTS,2,891,3,,D4,"35 PARK AVENUE, 16G",,...,0,0,0,-,-,1955,2,D4,1400000,5/16/17 0:00
50493,4,ASTORIA,13 CONDOS - ELEVATOR APARTMENTS,2,642,1027,,R4,34-32 35TH STREET,6C,...,1,0,1,-,-,2015,2,R4,988000,11/18/16 0:00
52225,4,BELLE HARBOR,02 TWO FAMILY DWELLINGS,1,16196,8,,B2,561 BEACH 128TH STREET,,...,2,0,2,4160,3750,1965,1,B2,870000,1/25/17 0:00
1639,1,CLINTON,13 CONDOS - ELEVATOR APARTMENTS,2,1061,1232,,R4,416 WEST 52ND STREET,703,...,1,0,1,-,-,1940,2,R4,877000,10/17/16 0:00
71101,4,RIDGEWOOD,30 WAREHOUSES,4,3591,1,,E9,72-24 61ST STREET,,...,0,2,2,7908,7780,1931,4,E9,1550000,11/7/16 0:00
21186,2,MORRIS PARK/VAN NEST,02 TWO FAMILY DWELLINGS,1,4270,3,,B1,1056 NEILL AVENUE,,...,2,0,2,2500,1722,1950,1,B1,568750,12/29/16 0:00
933,1,CHELSEA,21 OFFICE BUILDINGS,4,803,29,,O6,109 WEST 27TH STREET,,...,0,24,24,3950,43968,1908,4,O6,0,7/13/17 0:00
677,1,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,773,1004,,R4,200 WEST 24TH STREET,3A,...,1,0,1,-,-,2004,2,R4,2050000,5/15/17 0:00
32105,3,BUSHWICK,29 COMMERCIAL GARAGES,4,3139,35,,G7,N/A MONTIETH STREET,,...,0,0,0,1875,0,0,4,G7,0,12/30/16 0:00
15784,1,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1141,1012,,R4,104 WEST 70TH STREET,3C,...,1,0,1,-,-,0,2,R4,0,12/2/16 0:00
50322,4,ASTORIA,10 COOPS - ELEVATOR APARTMENTS,2,557,3,,D4,"21-36 33RD ROAD, 11A",,...,0,0,0,-,-,1950,2,D4,287630,9/30/16 0:00
7823,1,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1339,12,,D4,"333 EAST 46TH STREET, 3A",,...,0,0,0,-,-,1959,2,D4,725000,6/14/17 0:00
31158,3,BROWNSVILLE,02 TWO FAMILY DWELLINGS,1,3555,20,,B3,2027 STRAUSS STREET,,...,2,0,2,2000,1560,1930,1,B3,304200,3/28/17 0:00
47961,3,WILLIAMSBURG-EAST,07 RENTALS - WALKUP APARTMENTS,2A,3037,59,,C2,241 SCHOLES STREET,,...,5,0,5,2500,3600,1920,2,C2,1210000,11/8/16 0:00
74193,4,ST. ALBANS,01 ONE FAMILY DWELLINGS,1,11042,85,,A1,115-17 201ST STREET,,...,1,0,1,3000,1273,1930,1,A1,195000,11/21/16 0:00
24903,2,WILLIAMSBRIDGE,01 ONE FAMILY DWELLINGS,1,4876,127,,A5,1019B EAST 229 STREET,,...,1,0,1,1751,1392,1950,1,A5,292200,12/10/16 0:00
2759,1,FLATIRON,13 CONDOS - ELEVATOR APARTMENTS,2,819,1343,,R4,55 WEST 17TH STREET,1202,...,1,0,1,-,-,2015,2,R4,1909218,6/23/17 0:00
52410,4,BELLEROSE,01 ONE FAMILY DWELLINGS,1,8624,31,,A0,244-19 87TH AVENUE,,...,1,0,1,4650,1251,1955,1,A0,590000,2/6/17 0:00
10876,1,SOHO,45 CONDO HOTELS,4,491,1543,,RH,246 SPRING STREET,3811,...,0,0,1,-,-,2007,4,RH,0,8/21/17 0:00
42160,3,MARINE PARK,43 CONDO OFFICE BUILDINGS,4,8556,1011,,RB,2216 KIMBALL STREET,6M,...,0,0,1,0,0,0,4,RB,117500,4/20/17 0:00
10248,1,MURRAY HILL,13 CONDOS - ELEVATOR APARTMENTS,,863,1145,,,172 MADISON AVENUE,,...,0,0,0,-,-,0,2,R4,1680112,8/7/17 0:00
29254,3,BOROUGH PARK,02 TWO FAMILY DWELLINGS,1,5627,1,,B1,4721 11TH AVENUE,,...,2,0,2,2017,3000,1910,1,B1,0,1/23/17 0:00
49600,4,ARVERNE,30 WAREHOUSES,4,16079,22,,E1,323 BEACH 74TH STREET,,...,0,1,1,4000,3600,2009,4,E1,754000,1/30/17 0:00
23047,2,RIVERDALE,10 COOPS - ELEVATOR APARTMENTS,2,5904,100,,D4,"3725 HENRY HUDSON PARKWAY, 10D",,...,0,0,0,0,0,1952,2,D4,330000,1/23/17 0:00
4607,1,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,620,1006,,R4,534 HUDSON STREET,3C,...,1,0,1,-,-,0,2,R4,0,8/18/17 0:00
26788,3,BEDFORD STUYVESANT,02 TWO FAMILY DWELLINGS,1,1770,81,,B2,33 PULASKI STREET,,...,2,0,2,1875,2139,1915,1,B2,900000,5/4/17 0:00
47667,3,WILLIAMSBURG-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2245,1322,,R4,80 LORIMER STREET,5A,...,1,0,1,0,0,2013,2,R4,553500,9/20/16 0:00
47717,3,WILLIAMSBURG-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2262,1603,,R4,417 FLUSHING AVENUE,2A,...,1,0,1,0,0,0,2,R4,0,1/26/17 0:00
19118,2,BRONXDALE,01 ONE FAMILY DWELLINGS,1,4535,30,,A1,2754 WOODHULL AVENUE,,...,1,0,1,2604,900,1920,1,A1,350000,6/27/17 0:00
52703,4,BRIARWOOD,13 CONDOS - ELEVATOR APARTMENTS,2,9736,1035,,R4,143-41 84TH DRIVE,8E,...,1,0,1,-,-,2007,2,R4,420000,3/31/17 0:00
42728,3,MILL BASIN,02 TWO FAMILY DWELLINGS,1,8594,11,,B9,2757 MILL AVENUE,,...,2,0,2,1792,2397,1960,1,B9,0,3/15/17 0:00
9099,1,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1006,1148,,R4,159 WEST 53RD STREET,30C,...,1,0,1,-,-,1968,2,R4,708000,10/31/16 0:00
54743,4,ELMHURST,02 TWO FAMILY DWELLINGS,1,1545,11,,B3,83-22 DONGAN AVENUE,,...,2,0,2,5000,2105,1920,1,B3,0,9/26/16 0:00

In [5]:
real_estate_df.dtypes

BOROUGH                            int64
NEIGHBORHOOD                      object
BUILDING CLASS CATEGORY           object
TAX CLASS AT PRESENT              object
BLOCK                              int64
LOT                                int64
EASE-MENT                         object
BUILDING CLASS AT PRESENT         object
ADDRESS                           object
APARTMENT NUMBER                  object
ZIP CODE                           int64
RESIDENTIAL UNITS                  int64
COMMERCIAL UNITS                   int64
TOTAL UNITS                        int64
LAND SQUARE FEET                  object
GROSS SQUARE FEET                 object
YEAR BUILT                         int64
TAX CLASS AT TIME OF SALE          int64
BUILDING CLASS AT TIME OF SALE    object
SALE PRICE                         int64
SALE DATE                         object
dtype: object

In [6]:
#add borough depending on number definfed by the data documentation.
borough_name = []


for b in real_estate_df['BOROUGH']:
    if  b == 1:
        borough_name.append("Manhattan")
        
    elif b == 2:
        borough_name.append("Bronx") 
        
    elif b == 3: 
        borough_name.append("Brooklyn") 
        
    elif b == 4:
        borough_name.append("Queens")
        
    else:
        borough_name.append("Staten Island") 
        

real_estate_df["borough_name"] = borough_name
real_estate_df.sample(50)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,borough_name
76687,5,ARROCHAR-SHORE ACRES,13 CONDOS - ELEVATOR APARTMENTS,2,2832,1017,,R4,6 NEW LANE,2D,...,0,1,-,-,1987,2,R4,0,1/2/17 0:00,Staten Island
21783,2,MOTT HAVEN/PORT MORRIS,41 TAX CLASS 4 - OTHER,4,2278,59,,Z9,109 BRUCKNER BOULEVARD,,...,1,1,4700,4418,1998,4,Z9,0,5/23/17 0:00,Bronx
72870,4,SOUTH OZONE PARK,01 ONE FAMILY DWELLINGS,1,11627,7,,A1,122-14 111TH AVENUE,,...,0,1,2000,848,1930,1,A1,439000,10/31/16 0:00,Queens
37994,3,FLATBUSH-EAST,01 ONE FAMILY DWELLINGS,1,7745,12,,A9,1755 ALBANY AVENUE,,...,0,1,2000,1526,1930,1,A9,345774,2/8/17 0:00,Brooklyn
37571,3,FLATBUSH-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,5217,18,,D4,"616 EAST 18TH STREET, 4E",,...,0,0,0,0,1961,2,D4,765942,7/24/17 0:00,Brooklyn
48096,3,WILLIAMSBURG-EAST,14 RENTALS - 4-10 UNIT,2B,3097,26,,S5,109 MOORE STREET,,...,1,7,1875,7406,2004,2,S5,1000000,5/10/17 0:00,Brooklyn
49782,4,ASTORIA,02 TWO FAMILY DWELLINGS,1,651,62,,B1,30-44 37TH STREET,,...,0,2,2462,2720,1925,1,B1,1365000,12/5/16 0:00,Queens
29951,3,BOROUGH PARK,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,5433,1607,,R1,4503 15TH AVENUE,4A,...,0,1,0,0,2011,2,R1,10,11/14/16 0:00,Brooklyn
57553,4,FLUSHING-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5024,24,,D4,"144-50 38TH AVENUE, 3B",,...,0,0,-,-,1950,2,D4,240000,4/5/17 0:00,Queens
65819,4,LAURELTON,02 TWO FAMILY DWELLINGS,1,13174,64,,B3,137-50 233RD STREET,,...,0,2,3142,1428,1920,1,B3,0,9/3/16 0:00,Queens
73917,4,SPRINGFIELD GARDENS,30 WAREHOUSES,4,13379,42,,E1,148-08 GUY BREWER BOULEVARD,,...,3,3,3935,5500,1989,4,E1,0,11/16/16 0:00,Queens
16943,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1244,63,,D4,"90 RIVERSIDE DRIVE, 4C",,...,0,0,-,-,1927,2,D4,1699000,5/19/17 0:00,Manhattan
12069,1,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1402,1,,D4,"655 PARK AVENUE, 3E",,...,0,0,-,-,1924,2,D4,5165000,11/30/16 0:00,Manhattan
78873,5,GREAT KILLS,02 TWO FAMILY DWELLINGS,1,5269,15,,B2,44 HILLCREST STREET,,...,0,2,4500,2816,1986,1,B2,859000,2/23/17 0:00,Staten Island
77380,5,CONCORD,01 ONE FAMILY DWELLINGS,1,2879,176,,A1,33 ELLINGTON STREET,,...,0,1,3000,1088,1925,1,A1,380000,12/9/16 0:00,Staten Island
58937,4,FLUSHING-NORTH,43 CONDO OFFICE BUILDINGS,4,4978,1372,,RB,39TH AVENUE,10C,...,0,1,-,-,2014,4,RB,1594827,6/5/17 0:00,Queens
41329,3,MADISON,01 ONE FAMILY DWELLINGS,1,7291,118,,A1,1976 EAST 13TH STREET,,...,0,1,4000,2183,1930,1,A1,0,8/17/17 0:00,Brooklyn
68168,4,OZONE PARK,01 ONE FAMILY DWELLINGS,1,11366,7,,A2,86-14 133RD AVENUE,,...,0,1,2000,860,1950,1,A2,0,2/27/17 0:00,Queens
73962,4,ST. ALBANS,01 ONE FAMILY DWELLINGS,1,10301,9,,A1,112-41 178TH STREET,,...,0,1,4000,1504,1935,1,A1,598000,12/22/16 0:00,Queens
45822,3,SHEEPSHEAD BAY,01 ONE FAMILY DWELLINGS,1,7343,30,,A1,2158 EAST 12TH STREET,,...,0,1,2280,1380,1920,1,A1,0,2/15/17 0:00,Brooklyn
22180,2,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3944,1459,,R4,1560 UNIONPORT ROAD,5E,...,0,1,0,0,0,2,R4,0,4/14/17 0:00,Bronx
44874,3,PARK SLOPE,13 CONDOS - ELEVATOR APARTMENTS,2,949,1238,,R4,675 SACKETT STREET,405,...,0,1,0,0,0,2,R4,1880000,8/11/17 0:00,Brooklyn
77185,5,CASTLETON CORNERS,01 ONE FAMILY DWELLINGS,1,721,9,,A5,100 CLERMONT PLACE,,...,0,1,2610,1566,2016,1,A5,560037,10/20/16 0:00,Staten Island
73816,4,SPRINGFIELD GARDENS,02 TWO FAMILY DWELLINGS,1,13039,12,,B3,140-16 182 STREET,,...,0,2,4000,2358,1925,1,B3,760000,9/29/16 0:00,Queens
11975,1,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1391,40,,D4,"850 PARK AVENUE, 6B",,...,0,0,-,-,1924,2,D4,6000000,7/10/17 0:00,Manhattan
28502,3,BERGEN BEACH,01 ONE FAMILY DWELLINGS,1,8431,16,,A1,2159 E 71ST,,...,0,1,4000,2576,1960,1,A1,0,9/25/16 0:00,Brooklyn
22916,2,RIVERDALE,10 COOPS - ELEVATOR APARTMENTS,2,5746,584,,D4,"2601 HENRY HUDSON PARKWAY, 9B",,...,0,0,0,0,1954,2,D4,299000,6/6/17 0:00,Bronx
46875,3,SPRING CREEK,01 ONE FAMILY DWELLINGS,1,4452,361,,A5,737 VANDALIA AVENUE,,...,0,1,1900,1606,2016,1,A5,419666,1/11/17 0:00,Brooklyn
18452,2,BAYCHESTER,01 ONE FAMILY DWELLINGS,1,4791,32,,A2,1831 ARNOW AVENUE,,...,0,1,3788,870,1910,1,A2,784000,7/27/17 0:00,Bronx
14242,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1569,16,,D4,"1725 YORK AVENUE, 27D",,...,0,0,-,-,1971,2,D4,995000,4/3/17 0:00,Manhattan
77753,5,ELTINGVILLE,01 ONE FAMILY DWELLINGS,1,5606,122,,A2,70 SCRANTON AVENUE,,...,0,1,4000,836,1965,1,A2,168333,4/10/17 0:00,Staten Island
69120,4,QUEENS VILLAGE,02 TWO FAMILY DWELLINGS,1,11232,16,,B3,215-22 MURDOCK AVENUE,,...,0,2,2171,1688,1935,1,B3,440000,6/8/17 0:00,Queens
45771,3,SEAGATE,01 ONE FAMILY DWELLINGS,1,7043,1,,A5,3804 ATLANTIC AVENUE,8,...,0,1,5000,4758,2010,1,A5,2267500,2/27/17 0:00,Brooklyn
19222,2,BRONXDALE,02 TWO FAMILY DWELLINGS,1,4524,18,,B1,2742 TENBROECK AVENUE,,...,0,2,2142,1375,1950,1,B1,429000,12/28/16 0:00,Bronx
54446,4,EAST ELMHURST,02 TWO FAMILY DWELLINGS,1,1106,28,,B2,24-46 96TH STREET,,...,0,2,3800,2200,1950,1,B2,0,1/8/17 0:00,Queens
70867,4,RIDGEWOOD,02 TWO FAMILY DWELLINGS,1,3632,12,,B2,69-18 64TH PLACE,,...,0,2,2400,2116,1925,1,B2,967500,3/29/17 0:00,Queens
29138,3,BOROUGH PARK,02 TWO FAMILY DWELLINGS,1,5504,52,,B1,1765 59TH STREET,,...,0,2,2454,2440,1930,1,B1,0,11/1/16 0:00,Brooklyn
6334,1,KIPS BAY,08 RENTALS - ELEVATOR APARTMENTS,2,945,23,,D6,685 1 AVENUE,,...,1,551,32364,-,2016,2,D6,0,1/12/17 0:00,Manhattan
32666,3,CANARSIE,02 TWO FAMILY DWELLINGS,1,8285,2,,B1,10113 AVENUE N,,...,0,2,1488,1968,2007,1,B1,635000,9/30/16 0:00,Brooklyn
14918,1,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1577,1441,,R4,20 EAST END AVENUE,16B,...,0,1,-,-,2014,2,R4,11149837,5/12/17 0:00,Manhattan
19252,2,BRONXDALE,02 TWO FAMILY DWELLINGS,1,4577,26,,B1,1036 BURKE AVENUE,,...,0,2,1748,2650,1950,1,B1,225000,6/29/17 0:00,Bronx
46741,3,SHEEPSHEAD BAY,44 CONDO PARKING,4,7456,1004,,RP,2607 EAST 12TH STREET,P1,...,0,1,0,0,2006,4,RP,0,12/27/16 0:00,Brooklyn
1536,1,CLINTON,13 CONDOS - ELEVATOR APARTMENTS,2,1051,1356,,R4,WEST 42ND STREET,,...,0,1,-,-,2008,2,R4,1397039,6/14/17 0:00,Manhattan
63635,4,JACKSON HEIGHTS,01 ONE FAMILY DWELLINGS,1,1406,57,,A5,31-23 94 STREET,,...,0,1,2340,1284,1925,1,A5,690000,10/12/16 0:00,Queens
36556,3,EAST NEW YORK,02 TWO FAMILY DWELLINGS,1,4173,42,,B2,18 SHERIDAN AVENUE,,...,0,2,2702,1936,1920,1,B2,675000,4/25/17 0:00,Brooklyn
34198,3,CROWN HEIGHTS,02 TWO FAMILY DWELLINGS,1,1338,67,,B1,1895A PACIFIC STREET,,...,0,2,1600,2256,2004,1,B1,650001,6/9/17 0:00,Brooklyn
80435,5,NEW DORP,01 ONE FAMILY DWELLINGS,1,4237,17,,A2,26 PRINCETON AVENUE,,...,0,1,4000,960,1965,1,A2,624900,2/14/17 0:00,Staten Island
54372,4,EAST ELMHURST,01 ONE FAMILY DWELLINGS,1,1370,60,,A5,2517 96TH STREET,,...,0,1,1805,1330,1935,1,A5,680000,5/22/17 0:00,Queens
44600,3,PARK SLOPE,07 RENTALS - WALKUP APARTMENTS,2A,1058,9,,C3,23 7TH AVENUE,4,...,0,4,1469,2900,1920,2,C3,0,3/22/17 0:00,Brooklyn
3793,1,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,567,7,,D4,"33 FIFTH AVENUE, 12CD",,...,0,0,-,-,1924,2,D4,3400000,6/29/17 0:00,Manhattan

In [7]:
#get rid of appt numbers
real_estate_df['ADDRESS'] = real_estate_df['ADDRESS'].str.split(",", n = 1, expand = True)


real_estate_df.sample(50)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,borough_name
59314,4,FLUSHING-SOUTH,01 ONE FAMILY DWELLINGS,1,6844,42,,A1,73-06 164TH STREET,,...,0,1,3822,1386,1920,1,A1,0,4/21/17 0:00,Queens
49772,4,ASTORIA,02 TWO FAMILY DWELLINGS,1,626,52,,B1,30-18 35 STREET,,...,0,2,2600,2400,1930,1,B1,0,11/22/16 0:00,Queens
67246,4,MIDDLE VILLAGE,01 ONE FAMILY DWELLINGS,1,3004,23,,A5,64-36 79TH STREET,,...,0,1,1800,1260,1925,1,A5,0,7/20/17 0:00,Queens
37865,3,FLATBUSH-EAST,01 ONE FAMILY DWELLINGS,1,4986,77,,A5,775 E. 39 STREET,,...,0,1,1600,1520,1940,1,A5,0,6/14/17 0:00,Brooklyn
79758,5,MARINERS HARBOR,27 FACTORIES,4,1257,75,,F1,234 GRANDVIEW AVENUE,,...,1,1,10300,5000,1950,4,F1,0,11/7/16 0:00,Staten Island
32106,3,BUSHWICK,29 COMMERCIAL GARAGES,4,3139,36,,G7,11 MONTIETH STREET,,...,0,0,1875,0,0,4,G7,0,12/30/16 0:00,Brooklyn
47642,3,WILLIAMSBURG-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2240,2110,,R4,40 MIDDLETON STREET,5B,...,0,1,0,0,2002,2,R4,0,12/1/16 0:00,Brooklyn
64007,4,JACKSON HEIGHTS,10 COOPS - ELEVATOR APARTMENTS,2,1254,12,,D4,33-15 81ST STREET,,...,0,0,-,-,1951,2,D4,245000,3/16/17 0:00,Queens
84420,5,WOODROW,01 ONE FAMILY DWELLINGS,1,6919,105,,A3,1009 IONIA AVENUE,,...,0,1,10000,4326,1985,1,A3,0,4/27/17 0:00,Staten Island
67691,4,OAKLAND GARDENS,01 ONE FAMILY DWELLINGS,1,7761,95,,A1,217-48 77TH AVENUE,,...,0,1,6240,2056,1940,1,A1,950000,7/12/17 0:00,Queens
39590,3,GERRITSEN BEACH,01 ONE FAMILY DWELLINGS,1,8826,29,,A9,3168 WHITNEY AVENUE,,...,0,1,1440,868,1935,1,A9,375000,11/21/16 0:00,Brooklyn
73326,4,SOUTH OZONE PARK,02 TWO FAMILY DWELLINGS,1,11860,20,,B3,135-29 126TH STREET,,...,0,2,4000,1458,1925,1,B3,0,3/18/17 0:00,Queens
54409,4,EAST ELMHURST,01 ONE FAMILY DWELLINGS,1,1663,1,,A1,104-02 27TH AVENUE,,...,0,1,2650,1216,1925,1,A1,535000,7/27/17 0:00,Queens
9024,1,MIDTOWN WEST,10 COOPS - ELEVATOR APARTMENTS,2,1046,54,,D4,342 WEST 56TH STREET,,...,0,0,-,-,1930,2,D4,397000,11/22/16 0:00,Manhattan
65291,4,KEW GARDENS,10 COOPS - ELEVATOR APARTMENTS,2,3322,156,,D4,83-83 118TH STREET,,...,0,0,-,-,1954,2,D4,198000,10/24/16 0:00,Queens
65238,4,KEW GARDENS,10 COOPS - ELEVATOR APARTMENTS,2,3312,8,,D4,117-01 PARK LANE SOUTH,,...,0,0,-,-,1935,2,D4,235000,12/20/16 0:00,Queens
28203,3,BENSONHURST,02 TWO FAMILY DWELLINGS,1,6346,36,,B3,2070 85TH STREET,,...,0,2,3333,1824,1920,1,B3,1080000,2/22/17 0:00,Brooklyn
40559,3,GRAVESEND,16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT,2C,6598,1001,,R8,1517 WEST 9TH STREET,MD1,...,1,1,0,0,2007,2,R8,400000,5/26/17 0:00,Brooklyn
32613,3,CANARSIE,02 TWO FAMILY DWELLINGS,1,8246,24,,B1,1143 EAST 100 STREET,,...,0,2,2000,1540,1955,1,B1,0,2/6/17 0:00,Brooklyn
75125,4,WHITESTONE,02 TWO FAMILY DWELLINGS,1,4710,19,,B2,151-21 23RD AVENUE,,...,0,2,6000,2077,1950,1,B2,0,3/1/17 0:00,Queens
39728,3,GOWANUS,02 TWO FAMILY DWELLINGS,1,430,65,,B9,441 UNION STREET,,...,0,2,1667,1824,1899,1,B9,0,6/5/17 0:00,Brooklyn
71747,4,SO. JAMAICA-BAISLEY PARK,01 ONE FAMILY DWELLINGS,1,12012,41,,A1,117-66 141TH STREET,,...,0,1,2500,1184,1930,1,A1,378200,6/7/17 0:00,Queens
51371,4,BAYSIDE,02 TWO FAMILY DWELLINGS,1,7306,3,,B2,45-33 206TH STREET,,...,0,2,5000,1236,1920,1,B2,950000,4/12/17 0:00,Queens
51781,4,BAYSIDE,10 COOPS - ELEVATOR APARTMENTS,2,5938,5,,D4,18-05 215TH STREET,,...,0,0,-,-,1969,2,D4,245000,9/8/16 0:00,Queens
2840,1,FLATIRON,13 CONDOS - ELEVATOR APARTMENTS,2,826,1123,,R4,1107 BROADWAY,PH,...,0,1,-,-,1915,2,R4,36573875,9/21/16 0:00,Manhattan
57682,4,FLUSHING-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5145,68,,D4,137-77 45TH AVENUE,,...,0,90,30375,67059,1973,2,D4,0,8/2/17 0:00,Queens
73930,4,ST. ALBANS,01 ONE FAMILY DWELLINGS,1,10272,15,,A1,110-43 173RD STREET,,...,0,1,2650,1280,1930,1,A1,415000,11/22/16 0:00,Queens
28159,3,BENSONHURST,02 TWO FAMILY DWELLINGS,1,6295,16,,B2,1624 81 STREET,,...,0,2,2000,1800,1945,1,B2,880000,10/3/16 0:00,Brooklyn
69535,4,REGO PARK,10 COOPS - ELEVATOR APARTMENTS,2,2100,15,,D4,98-22 63 DRIVE,,...,0,0,-,-,1949,2,D4,284000,6/7/17 0:00,Queens
38366,3,FLATBUSH-EAST,03 THREE FAMILY DWELLINGS,1,7815,28,,C0,3814 AVENUE L,,...,0,3,2060,2527,1940,1,C0,0,7/24/17 0:00,Brooklyn
15206,1,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1121,36,,D4,88 CENTRAL PARK WEST,,...,0,0,-,-,1910,2,D4,15500000,7/11/17 0:00,Manhattan
70072,4,RICHMOND HILL,01 ONE FAMILY DWELLINGS,1,9462,13,,A9,123-26 95 AVENUE,,...,0,1,1600,896,1915,1,A9,290000,6/30/17 0:00,Queens
21274,2,MORRIS PARK/VAN NEST,21 OFFICE BUILDINGS,4,4113,25,,O2,1613 TENBROECK AVENUE,,...,2,2,5410,2160,1953,4,O2,0,10/31/16 0:00,Bronx
10806,1,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,595,1604,,R4,481 WASHINGTON ST,2S,...,0,1,-,-,1900,2,R4,4550000,2/13/17 0:00,Manhattan
74727,4,SUNNYSIDE,10 COOPS - ELEVATOR APARTMENTS,2,177,1,,D4,48-26 44TH ST,,...,0,0,-,-,1931,2,D4,360000,8/21/17 0:00,Queens
66845,4,MASPETH,02 TWO FAMILY DWELLINGS,1,2389,2,,B1,48-47 65TH PLACE,,...,0,2,2000,1666,1940,1,B1,680000,2/13/17 0:00,Queens
44475,3,PARK SLOPE,02 TWO FAMILY DWELLINGS,1,1078,73,,B1,507 THIRD STREET,,...,0,2,1530,3128,1899,1,B1,2300000,10/13/16 0:00,Brooklyn
21111,2,MORRIS PARK/VAN NEST,02 TWO FAMILY DWELLINGS,1,4092,4,,B9,932 VAN NEST AVENUE,,...,0,2,2000,1312,1935,1,B9,381000,2/14/17 0:00,Bronx
6014,1,HARLEM-UPPER,03 THREE FAMILY DWELLINGS,1,2073,16,,C0,529 WEST 141 STREET,,...,0,3,1599,4755,1910,1,C0,2075000,11/30/16 0:00,Manhattan
26479,3,BEDFORD STUYVESANT,01 ONE FAMILY DWELLINGS,1,1675,61,,A5,259 DECATUR STREET,5,...,0,1,2000,3948,1910,1,A5,0,12/15/16 0:00,Brooklyn
28466,3,BENSONHURST,44 CONDO PARKING,,6241,1155,,,7608 BAY PARKWAY,,...,0,0,0,0,0,4,RG,0,7/25/17 0:00,Brooklyn
10189,1,MURRAY HILL,13 CONDOS - ELEVATOR APARTMENTS,2,858,1141,,R4,404 PARK AVENUE SOUTH,11C,...,0,1,-,-,1917,2,R4,3700000,9/26/16 0:00,Manhattan
19822,2,COUNTRY CLUB,02 TWO FAMILY DWELLINGS,1,5409,640,,B9,3299 POLO PLACE,,...,0,2,7597,3600,1960,1,B9,690000,9/6/16 0:00,Bronx
11672,1,TRIBECA,47 CONDO NON-BUSINESS STORAGE,4,142,1411,,RS,200 CHAMBERS,ST50,...,0,1,-,-,2005,4,RS,0,9/13/16 0:00,Manhattan
78180,5,GRANT CITY,31 COMMERCIAL VACANT LAND,4,3591,52,,V1,N/A MIDLAND AVENUE,,...,0,0,1387,-,0,4,V1,0,7/7/17 0:00,Staten Island
37161,3,EAST NEW YORK,41 TAX CLASS 4 - OTHER,4,3978,14,,Z9,207 VAN SICLEN AVENUE,,...,0,0,5000,0,0,4,Z9,0,5/3/17 0:00,Brooklyn
58289,4,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,5066,1719,,R4,131-05 40TH ROAD,9G,...,0,1,-,-,2015,2,R4,704421,12/22/16 0:00,Queens
79556,5,MARINERS HARBOR,01 ONE FAMILY DWELLINGS,1,1183,216,,A1,502 MELYN PLACE,,...,0,1,2588,1296,1915,1,A1,400000,1/17/17 0:00,Staten Island
20350,2,HIGHBRIDGE/MORRIS HEIGHTS,37 RELIGIOUS FACILITIES,4,2524,40,,M1,978 SUMMIT AVENUE,,...,1,1,14250,13200,1931,4,M1,2875000,8/24/17 0:00,Bronx
73964,4,ST. ALBANS,01 ONE FAMILY DWELLINGS,1,10303,21,,A1,11207 179 STREET,,...,0,1,4000,1994,2015,1,A1,675000,12/20/16 0:00,Queens

In [11]:
#making new column with full address

real_estate_df["Full_Address"] = real_estate_df["ADDRESS"] + " "  + real_estate_df["borough_name"]

real_estate_df

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,borough_name,Full_Address
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,1633,6440,1900,2,C2,6625000,7/19/17 0:00,Manhattan,153 AVENUE B Manhattan
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,31,4616,18690,1900,2,C7,0,12/14/16 0:00,Manhattan,234 EAST 4TH STREET Manhattan
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,17,2212,7803,1900,2,C7,0,12/9/16 0:00,Manhattan,197 EAST 3RD STREET Manhattan
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,...,10,2272,6794,1913,2,C4,3936272,9/23/16 0:00,Manhattan,154 EAST 7TH STREET Manhattan
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,...,6,2369,4615,1900,2,C2,8000000,11/17/16 0:00,Manhattan,301 EAST 10TH STREET Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84543,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,,B9,37 QUAIL LANE,,...,2,2400,2575,1998,1,B9,450000,11/28/16 0:00,Staten Island,37 QUAIL LANE Staten Island
84544,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,,B9,32 PHEASANT LANE,,...,2,2498,2377,1998,1,B9,550000,4/21/17 0:00,Staten Island,32 PHEASANT LANE Staten Island
84545,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,,...,2,4000,1496,1925,1,B2,460000,7/5/17 0:00,Staten Island,49 PITNEY AVENUE Staten Island
84546,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,,...,7,208033,64117,2001,4,K6,11693337,12/21/16 0:00,Staten Island,2730 ARTHUR KILL ROAD Staten Island
84547,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,,...,1,10796,2400,2006,4,P9,69300,10/27/16 0:00,Staten Island,155 CLAY PIT ROAD Staten Island

In [19]:
#picking columns and assigning to new dataframe
real_estate_cols = ['Full_Address','NEIGHBORHOOD', 'TAX CLASS AT PRESENT',
                   'ZIP CODE', 'SALE PRICE', 'BUILDING CLASS AT TIME OF SALE', 'borough_name']

real_estate_clean_df = real_estate_df[real_estate_cols]

real_estate_clean_df

,Full_Address,NEIGHBORHOOD,TAX CLASS AT PRESENT,ZIP CODE,SALE PRICE,BUILDING CLASS AT TIME OF SALE,borough_name
0,153 AVENUE B Manhattan,ALPHABET CITY,2A,10009,6625000,C2,Manhattan
1,234 EAST 4TH STREET Manhattan,ALPHABET CITY,2,10009,0,C7,Manhattan
2,197 EAST 3RD STREET Manhattan,ALPHABET CITY,2,10009,0,C7,Manhattan
3,154 EAST 7TH STREET Manhattan,ALPHABET CITY,2B,10009,3936272,C4,Manhattan
4,301 EAST 10TH STREET Manhattan,ALPHABET CITY,2A,10009,8000000,C2,Manhattan
...,...,...,...,...,...,...,...
84543,37 QUAIL LANE Staten Island,WOODROW,1,10309,450000,B9,Staten Island
84544,32 PHEASANT LANE Staten Island,WOODROW,1,10309,550000,B9,Staten Island
84545,49 PITNEY AVENUE Staten Island,WOODROW,1,10309,460000,B2,Staten Island
84546,2730 ARTHUR KILL ROAD Staten Island,WOODROW,4,10309,11693337,K6,Staten Island
84547,155 CLAY PIT ROAD Staten Island,WOODROW,4,10309,69300,P9,Staten Island

In [20]:
real_estate_clean_df.apply(lambda col: col.drop_duplicates().reset_index(drop=True))

,Full_Address,NEIGHBORHOOD,TAX CLASS AT PRESENT,ZIP CODE,SALE PRICE,BUILDING CLASS AT TIME OF SALE,borough_name
0,153 AVENUE B Manhattan,ALPHABET CITY,2A,10009.0,6625000.0,C2,Manhattan
1,234 EAST 4TH STREET Manhattan,CHELSEA,2,0.0,0.0,C7,Bronx
2,197 EAST 3RD STREET Manhattan,CHINATOWN,2B,10002.0,3936272.0,C4,Brooklyn
3,154 EAST 7TH STREET Manhattan,CIVIC CENTER,2C,10011.0,8000000.0,D5,Queens
4,301 EAST 10TH STREET Manhattan,CLINTON,,10001.0,3192840.0,D9,Staten Island
...,...,...,...,...,...,...,...
58586,37 QUAIL LANE Staten Island,NaN,NaN,NaN,NaN,NaN,NaN
58587,32 PHEASANT LANE Staten Island,NaN,NaN,NaN,NaN,NaN,NaN
58588,49 PITNEY AVENUE Staten Island,NaN,NaN,NaN,NaN,NaN,NaN
58589,2730 ARTHUR KILL ROAD Staten Island,NaN,NaN,NaN,NaN,NaN,NaN
58590,155 CLAY PIT ROAD Staten Island,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# new_deduped_df = deduped_df.groupby("Full_Address", sort=False)

NameError: name 'deduped_df' is not defined

In [ ]:
deduped_df

In [ ]:
#create lat and long columns 

geolocator = Nominatim(user_agent="user_agent")
location = geolocator.geocode("327 EAST 3rd STREET Manhattan")

print((location.latitude, location.longitude))

In [ ]:


lat = []
long = []

i = 0

geolocator = Nominatim(user_agent="user_agent")

for address in real_estate_clean_df["Full_Address"]:
    
    addr = geolocator.geocode(address, timeout= 1)  
    if addr == None:
        lat.append(np.nan)
        long.append(np.nan)
        i += 1
        continue 
        
    else:
        i += 1
        lat.append(addr.latitude)
        long.append(addr.longitude)
        
    
    if i%500 == 0:
        print(addr.latitude, addr.longitude)
        
    else:
        pass
    
    
#     try:
#         i += 1
#         lat.append(addr.latitude)
#         long.append(addr.longitude)
#     except:
#         i += 1
#         print("none")
#         lat.append(np.nan)
#         long.append(np.nan)
#         pass
    
    
    
#     if addr is None:
#         lat.append(None)
#         long.append(None)
        
#     else:
#         latitude = addr.latitude
#         longitude = addr.longitude  
    
#         lat.append(latitude)
#         long.append(longitude)

real_estate_clean_df['latitude'] = lat
real_estate_clean_df['longitude'] = long

In [ ]:
real_estate_clean_df[real_estate_clean_df['Full_Address'].str.contains('10 WEST 15')]