In [2]:
import pandas as pd
from sqlalchemy import create_engine
from geopy.geocoders import Nominatim
import numpy as np

In [31]:
#import csv
real_estate_file = 'data/nyc-rolling-sales.csv'
real_estate_df = pd.read_csv(real_estate_file)


real_estate_df.sample(50)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
3967,1,GREENWICH VILLAGE-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,569,1236,,R4,13 EAST 11TH STREET,3G,...,1,0,1,-,-,0,2,R4,-,10/28/16 0:00
73582,4,SPRINGFIELD GARDENS,01 ONE FAMILY DWELLINGS,1,12997,145,,A2,179-03 135TH AVENUE,,...,1,0,1,7633,1288,1945,1,A2,407000,7/11/17 0:00
14402,1,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,,1497,1213,,,60 EAST 86TH STREET,,...,0,0,0,-,-,0,2,R4,8604212,4/27/17 0:00
43179,3,OCEAN HILL,31 COMMERCIAL VACANT LAND,4,1574,21,,V1,14 HAVENS PLACE,,...,0,0,0,2300,0,0,4,V1,409000,4/6/17 0:00
67028,4,MASPETH,06 TAX CLASS 1 - OTHER,1,2389,1,,G0,48-51 65TH PLACE,,...,0,0,0,2000,-,1950,1,G0,-,2/13/17 0:00
12782,1,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1400,1069,,R4,181 EAST 65TH STREET,21B,...,1,0,1,-,-,0,2,R4,6750000,6/9/17 0:00
14475,1,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1515,1067,,R4,110 EAST 87,PH-A,...,1,0,1,-,-,1939,2,R4,3999000,9/8/16 0:00
73077,4,SOUTH OZONE PARK,01 ONE FAMILY DWELLINGS,1,11781,279,,A1,131-15 135TH PLACE,,...,1,0,1,2100,840,1925,1,A1,266700,12/21/16 0:00
31416,3,BUSHWICK,02 TWO FAMILY DWELLINGS,1,3232,61,,B1,1281 DEKALB AVENUE,,...,2,0,2,1258,2448,2007,1,B1,830000,7/25/17 0:00
40283,3,GRAVESEND,03 THREE FAMILY DWELLINGS,1,7082,37,,C0,1974 WEST 6TH STREET,,...,3,0,3,2400,2136,1925,1,C0,1288000,12/2/16 0:00
70552,4,RICHMOND HILL,03 THREE FAMILY DWELLINGS,1,9198,47,,C0,85-27 108TH STREET,,...,3,0,3,5250,3104,1925,1,C0,-,12/20/16 0:00
61331,4,GLEN OAKS,09 COOPS - WALKUP APARTMENTS,2,8401,675,,C6,"251-01 71ST AVENUE, 99B",,...,0,0,0,-,-,1952,2,C6,150000,11/3/16 0:00
32006,3,BUSHWICK,14 RENTALS - 4-10 UNIT,2A,3397,39,,S5,506 WILSON AVENUE,5,...,5,1,6,2667,5400,1910,2,S5,0,3/1/17 0:00
83257,5,TOTTENVILLE,01 ONE FAMILY DWELLINGS,1,7818,63,,A3,124 BEDELL AVENUE,,...,1,0,1,6074,2938,2014,1,A3,950000,12/29/16 0:00
7408,1,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1310,1016,,R4,141 EAST 55TH STREET,3F,...,1,0,1,-,-,1956,2,R4,790000,7/25/17 0:00
4972,1,HARLEM-CENTRAL,07 RENTALS - WALKUP APARTMENTS,2B,2034,36,,C7,2574 ADAM C POWELL BLVD,,...,9,1,10,2492,11000,1920,2,C7,-,4/27/17 0:00
71020,4,RIDGEWOOD,07 RENTALS - WALKUP APARTMENTS,2A,3529,126,,C2,60-15 MADISON STREET,,...,6,0,6,2742,5940,1930,2,C2,1465000,1/23/17 0:00
9286,1,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1040,1240,,R4,350 WEST 50TH STREET,6M,...,1,0,1,-,-,1989,2,R4,700000,3/17/17 0:00
24129,2,THROGS NECK,01 ONE FAMILY DWELLINGS,1,5515,145,,A5,516 REYNOLDS AVENUE,,...,1,0,1,2616,1224,1960,1,A5,445000,6/26/17 0:00
19953,2,EAST RIVER,27 FACTORIES,4,5541,200,,F1,905 BRUSH AVENUE,,...,0,1,1,77835,20000,1974,4,F1,11200000,4/11/17 0:00
20192,2,FORDHAM,07 RENTALS - WALKUP APARTMENTS,2,3023,98,,C1,311 EAST 188 STREET,,...,12,0,12,3164,12695,1913,2,C1,2160000,1/24/17 0:00
24407,2,THROGS NECK,04 TAX CLASS 1 CONDOS,1A,5519,1041,,R3,1 PATRICIA LANE,409,...,1,0,1,0,0,2002,1,R3,0,12/20/16 0:00
37962,3,FLATBUSH-EAST,01 ONE FAMILY DWELLINGS,1,7651,52,,A9,1374 EAST 34TH STREET,,...,1,0,1,2075,1148,1925,1,A9,0,9/15/16 0:00
58772,4,FLUSHING-NORTH,17 CONDO COOPS,2,5186,1002,,R9,"43-55 KISSENA BLVD, 4D",,...,0,0,0,-,-,1938,2,R9,325000,5/2/17 0:00
1955,1,EAST VILLAGE,22 STORE BUILDINGS,4,449,3,,K4,122 SECOND AVENUE,,...,2,2,4,3334,14131,1920,4,K4,9100000,9/16/16 0:00
38851,3,FLATBUSH-NORTH,02 TWO FAMILY DWELLINGS,1,4643,48,,B1,27 EAST 56TH STREET,,...,2,0,2,2680,2384,1950,1,B1,0,6/29/17 0:00
68733,4,QUEENS VILLAGE,01 ONE FAMILY DWELLINGS,1,10658,56,,A5,89-31 215 STREET,,...,1,0,1,2100,1278,1935,1,A5,500000,2/24/17 0:00
67603,4,NEPONSIT,01 ONE FAMILY DWELLINGS,1,16293,60,,A6,438 BEACH 143 STREET,,...,1,0,1,4000,801,1920,1,A6,534710,3/3/17 0:00
49407,4,AIRPORT LA GUARDIA,12 CONDOS - WALKUP APARTMENTS,2,949,1001,,R2,19-35 80TH STREET,1,...,1,0,1,-,-,1939,2,R2,-,6/7/17 0:00
76092,4,WOODSIDE,29 COMMERCIAL GARAGES,4,1195,43,,G1,34-07 56TH STREET,,...,0,2,2,2500,7000,2009,4,G1,-,9/8/16 0:00
56734,4,FLUSHING-NORTH,01 ONE FAMILY DWELLINGS,1,6720,1,,A5,154-37 58TH ROAD,,...,1,0,1,2500,1056,1950,1,A5,795000,9/30/16 0:00
21923,2,PARKCHESTER,03 THREE FAMILY DWELLINGS,1,3923,15,,C0,1557 WHITE PLAINS ROAD,,...,3,0,3,4000,1833,1901,1,C0,700000,3/13/17 0:00
80320,5,NEW BRIGHTON-ST. GEORGE,10 COOPS - ELEVATOR APARTMENTS,2,1,216,,D0,"10 BAY STREET LANDING, 3C",,...,0,0,0,-,-,1984,2,D0,424000,2/8/17 0:00
22091,2,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3938,4040,,R4,1945 MCGRAW AVENUE,1E,...,1,0,1,0,0,0,2,R4,0,10/25/16 0:00
1076,1,CHINATOWN,21 OFFICE BUILDINGS,4,203,20,,O5,84 BOWERY,,...,0,14,14,2830,14250,1915,4,O5,9375000,9/16/16 0:00
12514,1,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1448,3,,D4,"300 E. 74TH STREET, 16A",,...,0,0,0,-,-,1967,2,D4,1300000,10/5/16 0:00
60085,4,FOREST HILLS,01 ONE FAMILY DWELLINGS,1,2229,39,,A3,110-53 69TH ROAD,,...,1,0,1,7500,2760,1940,1,A3,-,12/2/16 0:00
37983,3,FLATBUSH-EAST,01 ONE FAMILY DWELLINGS,1,7732,26,,A9,1113 EAST 48TH STREET,,...,1,0,1,2150,840,1940,1,A9,256500,7/7/17 0:00
17992,1,WASHINGTON HEIGHTS LOWER,13 CONDOS - ELEVATOR APARTMENTS,2,2132,1026,,R4,2360 AMSTERDAM AVENUE,6D,...,1,0,1,-,-,0,2,R4,620000,8/2/17 0:00
11511,1,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,215,1149,,R4,415 GREENWICH STREET,7B,...,1,0,1,-,-,1913,2,R4,5575000,7/28/17 0:00
23201,2,RIVERDALE,10 COOPS - ELEVATOR APARTMENTS,2,5953,230,,D4,"5800 ARLINGTON AVENUE, 10X",,...,0,0,0,0,0,1961,2,D4,250000,6/14/17 0:00
42478,3,MIDWOOD,10 COOPS - ELEVATOR APARTMENTS,2,6706,14,,D4,"918 EAST 14TH STREET, D8",,...,0,0,0,0,0,1928,2,D4,0,3/15/17 0:00
70908,4,RIDGEWOOD,03 THREE FAMILY DWELLINGS,1,3536,46,,C0,6061 70TH AVE,,...,3,0,3,2017,3372,1915,1,C0,-,2/21/17 0:00
32449,3,CANARSIE,02 TWO FAMILY DWELLINGS,1,8081,25,,B9,1440 EAST 85TH STREET,,...,2,0,2,2633,2760,1960,1,B9,720000,11/18/16 0:00
70311,4,RICHMOND HILL,02 TWO FAMILY DWELLINGS,1,9343,1,,B1,89-03 116TH STREET,,...,2,0,2,2441,1450,2007,1,B1,-,3/17/17 0:00
42482,3,MIDWOOD,10 COOPS - ELEVATOR APARTMENTS,2,6709,1,,D4,"1620 AVENUE I, 408",,...,0,0,0,0,0,1941,2,D4,0,8/28/17 0:00
47886,3,WILLIAMSBURG-EAST,02 TWO FAMILY DWELLINGS,1,3042,14,,S2,161 MANHATTAN AVENUE,,...,2,1,3,1900,5700,1920,1,S2,0,5/5/17 0:00
57593,4,FLUSHING-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5050,31,,D4,"144-70 41ST AVE, 3J",,...,0,0,0,-,-,1962,2,D4,150000,2/21/17 0:00
30037,3,BOROUGH PARK,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,5665,1206,,R1,827 54TH STREET,3R,...,1,0,1,0,0,1910,2,R1,339690,4/13/17 0:00
72066,4,SO. JAMAICA-BAISLEY PARK,01 ONE FAMILY DWELLINGS,1,12375,66,,A5,171-10 119TH ROAD,,...,1,0,1,5540,946,1940,1,A5,316000,3/7/17 0:00

In [4]:
# change address column type
real_estate_df = real_estate_df.astype({"ADDRESS": object})

real_estate_df.dtypes

BOROUGH                            int64
NEIGHBORHOOD                      object
BUILDING CLASS CATEGORY           object
TAX CLASS AT PRESENT              object
BLOCK                              int64
LOT                                int64
EASE-MENT                         object
BUILDING CLASS AT PRESENT         object
ADDRESS                           object
APARTMENT NUMBER                  object
ZIP CODE                           int64
RESIDENTIAL UNITS                  int64
COMMERCIAL UNITS                   int64
TOTAL UNITS                        int64
LAND SQUARE FEET                  object
GROSS SQUARE FEET                 object
YEAR BUILT                         int64
TAX CLASS AT TIME OF SALE          int64
BUILDING CLASS AT TIME OF SALE    object
SALE PRICE                        object
SALE DATE                         object
dtype: object

In [5]:
#change price column type

real_estate_df['SALE PRICE'] = real_estate_df['SALE PRICE'].fillna(0)

# real_estate_df['SALE PRICE'].str.replace('-','0')

real_estate_df['SALE PRICE'] = real_estate_df['SALE PRICE'].str.replace('-', "0")

real_estate_df['SALE PRICE'] = real_estate_df['SALE PRICE'].astype(str).astype(int)

real_estate_df.sample(50)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
54734,4,ELMHURST,02 TWO FAMILY DWELLINGS,1,1524,59,,B1,42-71 78TH STREET,,...,2,0,2,3500,2420,1920,1,B1,1538000,6/23/17 0:00
17082,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1252,75,,D4,"214 RIVERSIDE DRIVE, 214",,...,0,0,0,-,-,1901,2,D4,1260000,5/24/17 0:00
1815,1,EAST VILLAGE,08 RENTALS - ELEVATOR APARTMENTS,2,436,44,,D3,107 ST MARKS PLACE,,...,48,0,48,8904,25610,1920,2,D3,30449204,8/8/17 0:00
83396,5,TOTTENVILLE,02 TWO FAMILY DWELLINGS,1,7895,42,,B2,311 YETMAN AVENUE,,...,2,0,2,3856,2160,2015,1,B2,0,12/21/16 0:00
61243,4,FRESH MEADOWS,09 COOPS - WALKUP APARTMENTS,2,7117,51,,C6,"196-11 69TH AVENUE, 2",,...,0,0,0,-,-,1952,2,C6,175000,7/24/17 0:00
37825,3,FLATBUSH-EAST,01 ONE FAMILY DWELLINGS,1,4960,35,,A5,1238 TROY AVENUE,,...,1,0,1,1900,1216,1930,1,A5,0,5/4/17 0:00
57657,4,FLUSHING-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5137,11,,D4,"42-55 COLDEN STREET, 10H",,...,0,0,0,-,-,1962,2,D4,0,4/3/17 0:00
74724,4,SUNNYSIDE,10 COOPS - ELEVATOR APARTMENTS,2,177,1,,D4,"48-35 43RD STREET, 6E",,...,0,0,0,-,-,1931,2,D4,356000,7/25/17 0:00
16581,1,UPPER WEST SIDE (79-96),09 COOPS - WALKUP APARTMENTS,2C,1211,23,,C6,"129 WEST 80TH STREET, 4",,...,0,0,0,-,-,1900,2,C6,1625000,2/17/17 0:00
1190,1,CIVIC CENTER,13 CONDOS - ELEVATOR APARTMENTS,2,123,1172,,R4,30 PARK PLACE,52D,...,1,0,1,-,-,2008,2,R4,4459935,4/10/17 0:00
75661,4,WOODHAVEN,03 THREE FAMILY DWELLINGS,1,8923,61,,C0,87-15 86TH STREET,,...,3,0,3,2017,3432,1901,1,C0,0,1/4/17 0:00
18472,2,BAYCHESTER,01 ONE FAMILY DWELLINGS,1,4918,27,,A2,3538 BAYCHESTER AVENUE,,...,1,0,1,2900,968,1920,1,A2,450000,11/4/16 0:00
3069,1,GRAMERCY,07 RENTALS - WALKUP APARTMENTS,2,883,66,,C7,115 LEXINGTON,,...,11,1,12,1488,8888,2000,2,C7,10,4/7/17 0:00
54571,4,EAST ELMHURST,05 TAX CLASS 1 VACANT LAND,1B,1700,58,,V0,105TH STREET,,...,0,0,0,2000,-,0,1,V0,0,11/16/16 0:00
58510,4,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,5066,2053,,R4,131-03 40TH ROAD,10Z,...,1,0,1,-,-,2016,2,R4,1107589,5/17/17 0:00
42236,3,MIDWOOD,01 ONE FAMILY DWELLINGS,1,7593,13,,A9,977 EAST 29TH STREET,,...,1,0,1,2100,1440,1925,1,A9,0,1/24/17 0:00
80660,5,NEW DORP-HEIGHTS,01 ONE FAMILY DWELLINGS,1,950,275,,A1,63 ENFIELD PLACE,,...,1,0,1,4417,2164,2015,1,A1,916323,2/10/17 0:00
34682,3,CROWN HEIGHTS,13 CONDOS - ELEVATOR APARTMENTS,2,1417,1135,,R4,580 CROWN STREET,307,...,1,0,1,0,0,2007,2,R4,0,1/24/17 0:00
9740,1,MIDTOWN WEST,45 CONDO HOTELS,4,1006,1302,,RH,1335 AVENUE OF THE AMERIC,TIMES,...,0,0,1,-,-,1963,4,RH,46250,9/22/16 0:00
54446,4,EAST ELMHURST,02 TWO FAMILY DWELLINGS,1,1106,28,,B2,24-46 96TH STREET,,...,2,0,2,3800,2200,1950,1,B2,0,1/8/17 0:00
47005,3,SUNSET PARK,02 TWO FAMILY DWELLINGS,1,765,22,,B9,442 47TH STREET,,...,2,0,2,2003,2232,1901,1,B9,1485000,5/3/17 0:00
61252,4,FRESH MEADOWS,09 COOPS - WALKUP APARTMENTS,2,7117,401,,C6,"196-64 69 AVE., 1",,...,0,0,0,-,-,1951,2,C6,260000,1/5/17 0:00
63917,4,JACKSON HEIGHTS,07 RENTALS - WALKUP APARTMENTS,2,1423,71,,C1,32-15 93RD STREET,,...,78,0,78,20000,54680,1927,2,C1,18000000,12/8/16 0:00
3436,1,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,882,1114,,R4,90 LEXINGTON AVENUE,4B,...,1,0,1,-,-,1957,2,R4,2945855,1/19/17 0:00
50321,4,ASTORIA,10 COOPS - ELEVATOR APARTMENTS,2,557,3,,D4,"21-10 33RD ROAD, 5D",,...,0,0,0,-,-,1950,2,D4,351978,9/22/16 0:00
78047,5,GRANT CITY,01 ONE FAMILY DWELLINGS,1,3561,46,,A2,202 HULL AVENUE,,...,1,0,1,5000,1056,1960,1,A2,455000,3/9/17 0:00
82866,5,SOUTH BEACH,05 TAX CLASS 1 VACANT LAND,1B,3360,137,,V0,N/A EVERGREEN AVENUE,,...,0,0,0,250,-,0,1,V0,0,3/8/17 0:00
3082,1,GRAMERCY,09 COOPS - WALKUP APARTMENTS,2,896,13,,C6,"227 EAST 14TH STREET, 3W",,...,0,0,0,-,-,1900,2,C6,0,6/7/17 0:00
73458,4,SPRINGFIELD GARDENS,01 ONE FAMILY DWELLINGS,1,12527,82,,A1,127-17 176TH STREET,,...,1,0,1,3787,1378,1930,1,A1,320000,4/3/17 0:00
38872,3,FLATBUSH-NORTH,02 TWO FAMILY DWELLINGS,1,4802,7,,B1,410 MIDWOOD STREET,,...,2,0,2,1800,3280,1920,1,B1,772000,7/20/17 0:00
22355,2,PELHAM GARDENS,01 ONE FAMILY DWELLINGS,1,4482,28,,A5,2544 WOODHULL AVENUE,,...,1,0,1,2500,1360,1940,1,A5,499990,3/23/17 0:00
70085,4,RICHMOND HILL,01 ONE FAMILY DWELLINGS,1,9483,29,,A1,97-26 VAN WYCK EXPWY SR W,,...,1,0,1,6205,1638,1920,1,A1,0,2/28/17 0:00
5840,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1628,1217,,R4,194 EAST 101 STREET,3B,...,1,0,1,-,-,2005,2,R4,737000,9/27/16 0:00
64271,4,JACKSON HEIGHTS,10 COOPS - ELEVATOR APARTMENTS,2,1439,1,,D4,"33-46 92ND STREET, 1X",,...,0,0,0,-,-,1958,2,D4,0,12/21/16 0:00
60590,4,FOREST HILLS,10 COOPS - ELEVATOR APARTMENTS,2,2162,122,,D4,"6120 GRAND CENTRAL PARKWA, A1000",,...,0,0,0,-,-,1965,2,D4,130000,3/23/17 0:00
51602,4,BAYSIDE,09 COOPS - WALKUP APARTMENTS,2,5857,2,,C6,13-04 BELL BOULEVARD,,...,136,0,136,314760,120175,1954,2,C6,0,7/24/17 0:00
59658,4,FLUSHING-SOUTH,09 COOPS - WALKUP APARTMENTS,2,6482,100,,C6,"137-53 68TH DRIVE, B",,...,0,0,0,-,-,1950,2,C6,280000,6/29/17 0:00
5758,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1688,36,,C1,334 EAST 117 STREET,,...,10,0,10,2523,8125,1910,2,C1,3300000,9/8/16 0:00
13168,1,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1487,1205,,R4,530 EAST 76TH STREET,7NY,...,1,0,1,-,-,1986,2,R4,2265000,9/7/16 0:00
19998,2,EAST TREMONT,02 TWO FAMILY DWELLINGS,1,3908,42,,B2,1173 WYATT STREET,,...,2,0,2,2500,2154,1901,1,B2,455000,10/25/16 0:00
67286,4,MIDDLE VILLAGE,01 ONE FAMILY DWELLINGS,1,3040,146,,A5,65-09 78TH STREET,,...,1,0,1,1800,1308,1951,1,A5,723000,11/30/16 0:00
42841,3,OCEAN HILL,02 TWO FAMILY DWELLINGS,1,1442,54,,B9,2349 DEAN STREET,,...,2,0,2,2679,1840,1901,1,B9,572400,12/14/16 0:00
3095,1,GRAMERCY,10 COOPS - ELEVATOR APARTMENTS,2,871,39,,D4,"145 EAST 15 STREET, 9B",,...,0,0,0,-,-,1959,2,D4,555000,11/1/16 0:00
61165,4,FRESH MEADOWS,01 ONE FAMILY DWELLINGS,1,7172,43,,A2,73-31 184TH STREET,,...,1,0,1,4008,1418,1945,1,A2,0,10/12/16 0:00
41828,3,MARINE PARK,01 ONE FAMILY DWELLINGS,1,7718,22,,A9,1749 EAST 35TH STREET,,...,1,0,1,1800,1092,1935,1,A9,456000,11/15/16 0:00
61397,4,GLEN OAKS,09 COOPS - WALKUP APARTMENTS,2,8448,1,,C6,"70-09 261ST STREET, 122E2",,...,0,0,0,-,-,1948,2,C6,279900,5/25/17 0:00
42688,3,MILL BASIN,01 ONE FAMILY DWELLINGS,1,8634,1,,A2,6304 STRICKLAND AVENUE,,...,1,0,1,4500,1252,1950,1,A2,780000,4/5/17 0:00
8720,1,MIDTOWN EAST,43 CONDO OFFICE BUILDINGS,4,1340,1523,,RB,305 EAST 47TH STREET,PH-A,...,0,0,1,-,-,0,4,RB,0,12/29/16 0:00
51546,4,BAYSIDE,05 TAX CLASS 1 VACANT LAND,1B,7309,42,,V0,209-37 45TH ROAD,,...,0,0,0,5000,-,0,1,V0,0,5/10/17 0:00
66019,4,LITTLE NECK,09 COOPS - WALKUP APARTMENTS,2,8337,1,,C6,"57-33 MARATHON PKWY., 308",,...,0,0,0,-,-,1952,2,C6,185000,5/12/17 0:00

In [6]:
real_estate_df.dtypes

BOROUGH                            int64
NEIGHBORHOOD                      object
BUILDING CLASS CATEGORY           object
TAX CLASS AT PRESENT              object
BLOCK                              int64
LOT                                int64
EASE-MENT                         object
BUILDING CLASS AT PRESENT         object
ADDRESS                           object
APARTMENT NUMBER                  object
ZIP CODE                           int64
RESIDENTIAL UNITS                  int64
COMMERCIAL UNITS                   int64
TOTAL UNITS                        int64
LAND SQUARE FEET                  object
GROSS SQUARE FEET                 object
YEAR BUILT                         int64
TAX CLASS AT TIME OF SALE          int64
BUILDING CLASS AT TIME OF SALE    object
SALE PRICE                         int64
SALE DATE                         object
dtype: object

In [7]:
#add borough depending on number definfed by the data documentation.
borough_name = []

for b in real_estate_df['BOROUGH']:
    if  b == 1:
        borough_name.append("Manhattan")
        
    elif b == 2:
        borough_name.append("Bronx") 
        
    elif b == 3: 
        borough_name.append("Brooklyn") 
        
    elif b == 4:
        borough_name.append("Queens")
        
    else:
        borough_name.append("Staten Island") 
        

real_estate_df["borough_name"] = borough_name
real_estate_df.sample(50)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,borough_name
56760,4,FLUSHING-NORTH,01 ONE FAMILY DWELLINGS,1,7066,39,,A5,58-08 183RD STREET,,...,0,1,2400,1520,1960,1,A5,0,12/16/16 0:00,Queens
15813,1,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1150,1276,,R4,172 WEST 79 STREET,14C,...,0,1,-,-,0,2,R4,0,2/8/17 0:00,Manhattan
52695,4,BRIARWOOD,13 CONDOS - ELEVATOR APARTMENTS,2,9712,1130,,R4,141-16 84TH DRIVE,5B,...,0,1,-,-,2009,2,R4,490000,4/28/17 0:00,Queens
1074,1,CHINATOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,172,1306,,R1,77 WHITE STREET,6,...,0,1,-,-,0,2,R1,0,3/24/17 0:00,Manhattan
73205,4,SOUTH OZONE PARK,02 TWO FAMILY DWELLINGS,1,11672,6,,B3,128-14 115TH AVENUE,,...,0,2,4000,1952,1940,1,B3,580000,11/21/16 0:00,Queens
29248,3,BOROUGH PARK,02 TWO FAMILY DWELLINGS,1,5621,13,,S2,4624 NEW UTRECHT AVENUE,,...,1,3,1537,3000,1931,1,S2,0,5/17/17 0:00,Brooklyn
78029,5,GRANT CITY,01 ONE FAMILY DWELLINGS,1,3535,95,,A5,23 STOBE AVENUE,,...,0,1,2761,1870,1970,1,A5,470000,2/24/17 0:00,Staten Island
51928,4,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1834,,R4,2 BAY CLUB DRIVE,14W,...,0,1,-,-,1972,2,R4,890000,1/20/17 0:00,Queens
84132,5,WESTERLEIGH,02 TWO FAMILY DWELLINGS,1,1501,272,,B2,49 CAMBRIDGE AVENUE,,...,0,2,4680,2340,1970,1,B2,812500,8/2/17 0:00,Staten Island
69745,4,REGO PARK,10 COOPS - ELEVATOR APARTMENTS,2,3173,70,,D4,"67-87 BOOTH STREET, 6B",,...,0,0,-,-,1950,2,D4,550000,7/13/17 0:00,Queens
19460,2,CASTLE HILL/UNIONPORT,01 ONE FAMILY DWELLINGS,1,3691,74,,A1,2209 TURNBULL AVENUE,,...,0,1,3107,1900,1955,1,A1,390000,10/28/16 0:00,Bronx
16738,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1206,17,,D4,"35 WEST 92ND STREET, 8F",,...,0,0,-,-,1931,2,D4,0,2/3/17 0:00,Manhattan
65938,4,LITTLE NECK,01 ONE FAMILY DWELLINGS,1,8256,89,,A1,54-22 LITTLE NECK PARKWAY,,...,0,1,5605,2482,1999,1,A1,1130000,9/29/16 0:00,Queens
50040,4,ASTORIA,03 THREE FAMILY DWELLINGS,1,630,37,,C0,28-42 37TH STREET,,...,0,3,2500,2280,1930,1,C0,0,3/15/17 0:00,Queens
69373,4,REGO PARK,03 THREE FAMILY DWELLINGS,1,3081,110,,C0,63-24 SAUNDERS STREET,,...,0,3,2400,1632,1925,1,C0,750000,7/25/17 0:00,Queens
18859,2,BEDFORD PARK/NORWOOD,02 TWO FAMILY DWELLINGS,1,3321,48,,B2,3095 VILLA AVENUE,,...,0,2,2060,1630,1899,1,B2,125000,3/30/17 0:00,Bronx
40898,3,GREENPOINT,13 CONDOS - ELEVATOR APARTMENTS,2,2714,1106,,R4,36 ECKFORD STREET,3B,...,0,1,0,0,0,2,R4,1075000,4/27/17 0:00,Brooklyn
15983,1,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1170,1105,,R4,2211 BROADWAY,3A,...,0,1,-,-,1908,2,R4,98525704,9/7/16 0:00,Manhattan
72049,4,SO. JAMAICA-BAISLEY PARK,01 ONE FAMILY DWELLINGS,1,12369,26,,A2,16850 118 ROAD,,...,0,1,3000,1260,1920,1,A2,475000,5/31/17 0:00,Queens
70217,4,RICHMOND HILL,02 TWO FAMILY DWELLINGS,1,9200,27,,B3,86-50 105TH STREET,,...,0,2,5000,2937,1915,1,B3,790000,9/15/16 0:00,Queens
37510,3,FLATBUSH-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,5064,29,,D4,"40 CLARKSON AVENUE, 6G",,...,0,0,0,0,1938,2,D4,0,5/3/17 0:00,Brooklyn
63949,4,JACKSON HEIGHTS,09 COOPS - WALKUP APARTMENTS,2,1278,58,,C6,"35-37 78TH STREET, 3",,...,0,0,-,-,1920,2,C6,0,9/29/16 0:00,Queens
12493,1,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1446,38,,D4,"340 EAST 72ND STREET, 10F",,...,0,0,-,-,1930,2,D4,0,1/23/17 0:00,Manhattan
71737,4,SO. JAMAICA-BAISLEY PARK,01 ONE FAMILY DWELLINGS,1,12007,234,,A1,116-51 147TH STREET,,...,0,1,2300,1280,1935,1,A1,499999,6/16/17 0:00,Queens
8179,1,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1370,15,,D4,"425 E 58TH ST, 11F",,...,0,0,-,-,1975,2,D4,1395000,4/27/17 0:00,Manhattan
12135,1,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1407,33,,D4,"165 EAST 72 STREET, 20A",,...,0,0,-,-,1960,2,D4,1215000,8/3/17 0:00,Manhattan
80322,5,NEW BRIGHTON-ST. GEORGE,10 COOPS - ELEVATOR APARTMENTS,2,1,216,,D0,"10 BAY STREET LANDING, 128",,...,0,0,-,-,1984,2,D0,700000,8/18/17 0:00,Staten Island
35358,3,DOWNTOWN-FULTON FERRY,13 CONDOS - ELEVATOR APARTMENTS,2,52,1077,,R4,85 ADAMS STREET,22A,...,0,1,0,0,0,2,R4,0,12/30/16 0:00,Brooklyn
26334,3,BAY RIDGE,10 COOPS - ELEVATOR APARTMENTS,2,6111,40,,D4,"9430 RIDGE BOULEVARD, 3C",,...,0,0,0,0,1953,2,D4,599000,3/8/17 0:00,Brooklyn
55654,4,FAR ROCKAWAY,02 TWO FAMILY DWELLINGS,1,15821,24,,B2,170 BEACH 30TH ST,,...,0,2,2145,2606,2004,1,B2,301000,6/2/17 0:00,Queens
65527,4,LAURELTON,01 ONE FAMILY DWELLINGS,1,12864,39,,A2,121-03 237TH STREET,,...,0,1,5106,999,1950,1,A2,0,10/28/16 0:00,Queens
6902,1,LOWER EAST SIDE,10 COOPS - ELEVATOR APARTMENTS,2,331,1,,D4,"504 GRAND STREET, A11",,...,0,0,-,-,1929,2,D4,790000,8/23/17 0:00,Manhattan
71156,4,ROCKAWAY PARK,01 ONE FAMILY DWELLINGS,1,16202,36,,A1,414 BEACH 121ST STREET,,...,0,1,4000,1974,1920,1,A1,0,10/4/16 0:00,Queens
71262,4,ROCKAWAY PARK,44 CONDO PARKING,4,16173,1107,,RP,1-68 BEACH 101 STREET,24,...,0,1,-,-,2006,4,RP,0,7/19/17 0:00,Queens
57701,4,FLUSHING-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5180,15,,D4,"42-45 KISSENA BOULEVARD, 2L",,...,0,0,-,-,1956,2,D4,257000,11/9/16 0:00,Queens
40429,3,GRAVESEND,10 COOPS - ELEVATOR APARTMENTS,2,6919,1,,D4,"2483 WEST 16TH STREET, 8G",,...,0,0,0,0,1963,2,D4,280000,7/18/17 0:00,Brooklyn
81663,5,PORT RICHMOND,01 ONE FAMILY DWELLINGS,1,1099,50,,A2,162 HATFIELD PLACE,,...,0,1,5000,884,1945,1,A2,315000,8/7/17 0:00,Staten Island
27412,3,BEDFORD STUYVESANT,07 RENTALS - WALKUP APARTMENTS,2A,1809,37,,C2,394 QUINCY STREET,,...,0,5,1917,2280,1931,2,C2,1442350,2/13/17 0:00,Brooklyn
7621,1,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1331,17,,D4,"235 EAST 57TH STREET, 15B",,...,0,0,-,-,1960,2,D4,676000,12/5/16 0:00,Manhattan
68070,4,OZONE PARK,01 ONE FAMILY DWELLINGS,1,9051,48,,A5,97-41 80TH STREET,,...,0,1,2500,1740,1920,1,A5,0,8/1/17 0:00,Queens
16262,1,UPPER WEST SIDE (59-79),17 CONDO COOPS,2,1158,1007,,R9,"160 WEST END AVENUE, 12T",,...,0,0,-,-,1963,2,R9,860000,1/10/17 0:00,Manhattan
52070,4,BEECHHURST,10 COOPS - ELEVATOR APARTMENTS,2,4574,41,,D4,"162-01 POWELLS COVE BOULEVA, 1H",,...,0,0,-,-,1956,2,D4,316000,10/18/16 0:00,Queens
59769,4,FLUSHING-SOUTH,09 COOPS - WALKUP APARTMENTS,2,6628,1,,C6,"141-26 77TH AVENUE, D",,...,0,0,-,-,1937,2,C6,190000,4/10/17 0:00,Queens
29880,3,BOROUGH PARK,12 CONDOS - WALKUP APARTMENTS,2,5462,1013,,R2,1901 51ST STREET,B2E,...,0,1,0,0,0,2,R2,800000,3/22/17 0:00,Brooklyn
66751,4,MASPETH,01 ONE FAMILY DWELLINGS,1,2385,39,,A5,65-37 51ST RD,,...,0,1,2000,1640,1950,1,A5,865000,8/8/17 0:00,Queens
6941,1,LOWER EAST SIDE,13 CONDOS - ELEVATOR APARTMENTS,2,274,1007,,R4,48 MARKET STREET,3A,...,0,1,-,-,0,2,R4,625000,2/28/17 0:00,Manhattan
25256,2,WILLIAMSBRIDGE,14 RENTALS - 4-10 UNIT,2A,4831,8,,S9,4059 WHITE PLAINS ROAD,,...,2,6,3233,6537,1930,2,S9,940000,11/4/16 0:00,Bronx
66373,4,LONG ISLAND CITY,13 CONDOS - ELEVATOR APARTMENTS,2,57,1011,,R4,13-11 JACKSON AVENUE,3E,...,0,1,-,-,0,2,R4,1141457,6/26/17 0:00,Queens
46948,3,SUNSET PARK,02 TWO FAMILY DWELLINGS,1,665,69,,B9,181 29 STREET,,...,0,2,1786,2283,1905,1,B9,0,8/16/17 0:00,Brooklyn
51850,4,BAYSIDE,10 COOPS - ELEVATOR APARTMENTS,2,7474,50,,D4,"220-55 46TH AVENUE, 3N",,...,0,0,-,-,1961,2,D4,10,10/17/16 0:00,Queens

In [8]:
#get rid of appt numbers
real_estate_df['ADDRESS'] = real_estate_df['ADDRESS'].str.split(",", n = 1, expand = True)


real_estate_df.sample(50)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,borough_name
77151,5,CASTLETON CORNERS,01 ONE FAMILY DWELLINGS,1,377,15,,A2,215 KEMBALL AVENUE,,...,0,1,3500,1300,1964,1,A2,500000,2/28/17 0:00,Staten Island
84412,5,WILLOWBROOK,44 CONDO PARKING,4,1965,1154,,RG,1235 FOREST HILL ROAD,P31,...,0,1,-,-,2015,4,RG,0,6/1/17 0:00,Staten Island
32522,3,CANARSIE,02 TWO FAMILY DWELLINGS,1,8173,12,,B2,661 EAST 104 STREET,,...,0,2,1600,1760,2005,1,B2,594000,3/9/17 0:00,Brooklyn
9342,1,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,,1042,1616,,,318-322 WEST 52ND STREET,,...,0,0,-,-,0,2,R4,1756481,7/21/17 0:00,Manhattan
16831,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1224,1,,D4,175 WEST 93RD STREET,,...,0,0,-,-,1929,2,D4,1800000,6/30/17 0:00,Manhattan
47534,3,WILLIAMSBURG-CENTRAL,02 TWO FAMILY DWELLINGS,1,2226,12,,B3,178 RUTLEDGE STREET,,...,0,2,1900,2460,1899,1,B3,0,1/1/17 0:00,Brooklyn
51107,4,BAYSIDE,01 ONE FAMILY DWELLINGS,1,7334,12,,A5,45-14 215 PLACE,,...,0,1,2017,1448,1930,1,A5,760000,7/20/17 0:00,Queens
20783,2,MELROSE/CONCOURSE,02 TWO FAMILY DWELLINGS,1,2418,20,,B3,813 COURTLANDT AVENUE,,...,0,2,2450,2000,1901,1,B3,439000,11/10/16 0:00,Bronx
82396,5,ROSSVILLE,01 ONE FAMILY DWELLINGS,1,7086,58,,A1,137 LUCILLE AVENUE,,...,0,1,3600,1776,1985,1,A1,570000,4/27/17 0:00,Staten Island
44040,3,OCEAN PARKWAY-SOUTH,10 COOPS - ELEVATOR APARTMENTS,2,7159,40,,D4,735 AVENUE W,,...,0,0,0,0,1962,2,D4,245000,10/20/16 0:00,Brooklyn
10891,1,SOUTHBRIDGE,10 COOPS - ELEVATOR APARTMENTS,2,94,1,,D4,333 PEARL STREET,,...,0,0,-,-,1971,2,D4,800000,9/14/16 0:00,Manhattan
3621,1,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,532,20,,D0,77 BLEECKER STREET,,...,0,0,-,-,1930,2,D0,727000,5/10/17 0:00,Manhattan
70793,4,RIDGEWOOD,02 TWO FAMILY DWELLINGS,1,3518,10,,B1,60-20 71ST AVENUE,,...,0,2,1600,2970,1901,1,B1,0,2/3/17 0:00,Queens
56286,4,FLUSHING-NORTH,01 ONE FAMILY DWELLINGS,1,5232,1,,A1,52-05 ROBINSON STREET,,...,0,1,5000,1872,1930,1,A1,1190000,12/23/16 0:00,Queens
48769,3,WILLIAMSBURG-SOUTH,12 CONDOS - WALKUP APARTMENTS,2,2408,1223,,R2,242 SOUTH 1ST STREET,4F,...,0,1,0,0,0,2,R2,1200000,8/7/17 0:00,Brooklyn
27597,3,BEDFORD STUYVESANT,13 CONDOS - ELEVATOR APARTMENTS,2,1974,1060,,R4,315 GATES AVENUE,5C,...,0,1,0,0,2009,2,R4,734000,12/15/16 0:00,Brooklyn
31494,3,BUSHWICK,02 TWO FAMILY DWELLINGS,1,3357,30,,B9,38 WOODBINE STREET,,...,0,2,1500,1800,1905,1,B9,780000,10/27/16 0:00,Brooklyn
76855,5,BULLS HEAD,01 ONE FAMILY DWELLINGS,1,2070,7,,A5,18 CROFT PLACE,,...,0,1,1170,1450,1988,1,A5,440000,1/12/17 0:00,Staten Island
24356,2,THROGS NECK,02 TWO FAMILY DWELLINGS,1,5596,1,,B1,2711 HARDING AVENUE,,...,0,2,3900,3250,2015,1,B1,840056,1/31/17 0:00,Bronx
13054,1,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1453,1031,,R4,300 EAST 79TH STREET,14B,...,0,1,-,-,2006,2,R4,3800000,10/13/16 0:00,Manhattan
62035,4,GLENDALE,12 CONDOS - WALKUP APARTMENTS,2,3637,1060,,R2,71-05 FRESH POND ROAD,D1D,...,0,1,-,-,0,2,R2,0,11/3/16 0:00,Queens
7527,1,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1321,42,,D4,212 EAST 48TH STREET,,...,0,0,-,-,1924,2,D4,545000,10/20/16 0:00,Manhattan
61944,4,GLENDALE,03 THREE FAMILY DWELLINGS,1,3866,12,,C0,8254 88TH PLACE,,...,0,3,2619,2420,1940,1,C0,585000,4/18/17 0:00,Queens
40785,3,GREENPOINT,07 RENTALS - WALKUP APARTMENTS,2B,2685,71,,C1,68 DIAMOND STREET,,...,0,8,2517,5033,1928,2,C1,0,3/21/17 0:00,Brooklyn
33153,3,CLINTON HILL,02 TWO FAMILY DWELLINGS,1,1979,31,,B9,200 ST JAMES PLACE,,...,0,2,1546,3008,1899,1,B9,10,12/14/16 0:00,Brooklyn
15725,1,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1137,1290,,R4,160 WEST 66TH STREET,50A,...,0,1,-,-,1989,2,R4,4350000,4/28/17 0:00,Manhattan
22752,2,RIVERDALE,02 TWO FAMILY DWELLINGS,1,5876,951,,B1,6036 FIELDSTON ROAD,,...,0,2,2500,1887,1960,1,B1,745000,10/14/16 0:00,Bronx
11876,1,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1381,25,,D4,53 EAST 66TH STREET,,...,0,0,-,-,1924,2,D4,2200000,1/31/17 0:00,Manhattan
68133,4,OZONE PARK,01 ONE FAMILY DWELLINGS,1,9522,19,,A1,104-26 102ND STREET,,...,0,1,2500,1216,1920,1,A1,530000,11/10/16 0:00,Queens
26829,3,BEDFORD STUYVESANT,02 TWO FAMILY DWELLINGS,1,1796,28,,B3,128 VAN BUREN,,...,0,2,1925,2598,1899,1,B3,0,10/6/16 0:00,Brooklyn
51396,4,BAYSIDE,02 TWO FAMILY DWELLINGS,1,7378,10,,B3,201-20 50TH AVENUE,,...,0,2,2500,1475,1920,1,B3,800000,6/30/17 0:00,Queens
49857,4,ASTORIA,02 TWO FAMILY DWELLINGS,1,760,52,,B2,21-46 49 STREET,,...,0,2,2000,2610,1920,1,B2,0,11/16/16 0:00,Queens
51770,4,BAYSIDE,10 COOPS - ELEVATOR APARTMENTS,2,5938,3,,D4,17-85 215TH STREET,,...,0,0,-,-,1969,2,D4,275000,10/19/16 0:00,Queens
65523,4,LAURELTON,01 ONE FAMILY DWELLINGS,1,12857,29,,A5,231-21 125TH AVE,,...,0,1,1800,1732,1950,1,A5,0,2/8/17 0:00,Queens
28615,3,BERGEN BEACH,04 TAX CLASS 1 CONDOS,1A,8343,1090,,R3,1109 EAST 73 STREET,53,...,0,1,0,0,1986,1,R3,335000,9/16/16 0:00,Brooklyn
53641,4,CORONA,02 TWO FAMILY DWELLINGS,1,2003,66,,B2,108-45 48TH AVENUE,,...,0,2,2500,1810,1920,1,B2,0,12/24/16 0:00,Queens
84146,5,WESTERLEIGH,04 TAX CLASS 1 CONDOS,1A,1485,1009,,R3,15A YAFA COURT,15A,...,0,1,-,-,1988,1,R3,365000,4/11/17 0:00,Staten Island
42274,3,MIDWOOD,01 ONE FAMILY DWELLINGS,1,7627,58,,A9,1130 EAST 28TH STREET,,...,0,1,2000,1296,1925,1,A9,770000,2/28/17 0:00,Brooklyn
19253,2,BRONXDALE,02 TWO FAMILY DWELLINGS,1,4578,9,,B1,3022 HONE AVENUE,,...,0,2,1820,2040,1950,1,B1,482948,11/3/16 0:00,Bronx
35030,3,CYPRESS HILLS,02 TWO FAMILY DWELLINGS,1,4150,5,,B1,287 LINCOLN AVENUE,,...,0,2,1750,2128,1910,1,B1,630000,1/31/17 0:00,Brooklyn
39944,3,GRAVESEND,01 ONE FAMILY DWELLINGS,1,6625,70,,A9,1621-23 WEST 7TH STREET,,...,0,1,2000,1344,1925,1,A9,650000,10/14/16 0:00,Brooklyn
46051,3,SHEEPSHEAD BAY,02 TWO FAMILY DWELLINGS,1,7405,846,,B1,2371 EAST 28TH STREET,,...,0,2,2650,2376,1935,1,B1,999000,10/13/16 0:00,Brooklyn
65278,4,KEW GARDENS,10 COOPS - ELEVATOR APARTMENTS,2,3322,123,,D4,8344 LEFFERTS BOULEVARD,,...,0,0,-,-,1932,2,D4,188000,8/16/17 0:00,Queens
59284,4,FLUSHING-SOUTH,01 ONE FAMILY DWELLINGS,1,6811,23,,A5,153-38 76TH ROAD,,...,0,1,1800,1782,1950,1,A5,760000,11/16/16 0:00,Queens
1063,1,CHINATOWN,13 CONDOS - ELEVATOR APARTMENTS,2,238,1019,,R4,87 ELIZABETH STREET,6A,...,0,1,-,-,1899,2,R4,0,2/21/17 0:00,Manhattan
4696,1,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,636,1111,,R4,5 WEEHAWKEN STREET,1A,...,0,1,-,-,1900,2,R4,560037,12/15/16 0:00,Manhattan
82544,5,ROSSVILLE-CHARLESTON,02 TWO FAMILY DWELLINGS,1,7356,96,,B9,86 PITNEY AVENUE,,...,0,2,2400,1500,2001,1,B9,552500,1/27/17 0:00,Staten Island
53590,4,CORONA,02 TWO FAMILY DWELLINGS,1,1904,11,,B3,55-29 96TH STREET,,...,0,2,3500,1321,1935,1,B3,920000,6/30/17 0:00,Queens
6923,1,LOWER EAST SIDE,10 COOPS - ELEVATOR APARTMENTS,2,331,120,,D4,550 GRAND STREET,,...,0,0,-,-,1949,2,D4,860000,9/14/16 0:00,Manhattan
40850,3,GREENPOINT,13 CONDOS - ELEVATOR APARTMENTS,2,2504,1232,,R4,1059 MANHATTAN AVENUE,7C,...,0,1,0,0,2007,2,R4,712775,2/16/17 0:00,Brooklyn

In [9]:
#making new column with full address

real_estate_df["Full_Address"] = real_estate_df["ADDRESS"] + " "  + real_estate_df["borough_name"]

real_estate_df

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,borough_name,Full_Address
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,1633,6440,1900,2,C2,6625000,7/19/17 0:00,Manhattan,153 AVENUE B Manhattan
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,31,4616,18690,1900,2,C7,0,12/14/16 0:00,Manhattan,234 EAST 4TH STREET Manhattan
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,17,2212,7803,1900,2,C7,0,12/9/16 0:00,Manhattan,197 EAST 3RD STREET Manhattan
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,...,10,2272,6794,1913,2,C4,3936272,9/23/16 0:00,Manhattan,154 EAST 7TH STREET Manhattan
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,...,6,2369,4615,1900,2,C2,8000000,11/17/16 0:00,Manhattan,301 EAST 10TH STREET Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84543,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,,B9,37 QUAIL LANE,,...,2,2400,2575,1998,1,B9,450000,11/28/16 0:00,Staten Island,37 QUAIL LANE Staten Island
84544,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,,B9,32 PHEASANT LANE,,...,2,2498,2377,1998,1,B9,550000,4/21/17 0:00,Staten Island,32 PHEASANT LANE Staten Island
84545,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,,...,2,4000,1496,1925,1,B2,460000,7/5/17 0:00,Staten Island,49 PITNEY AVENUE Staten Island
84546,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,,...,7,208033,64117,2001,4,K6,11693337,12/21/16 0:00,Staten Island,2730 ARTHUR KILL ROAD Staten Island
84547,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,,...,1,10796,2400,2006,4,P9,69300,10/27/16 0:00,Staten Island,155 CLAY PIT ROAD Staten Island

In [14]:
# real_estate_dedupe = df.groupby(["Full_Address"])


# real_estate_df.groupby(['Full_Address', 'SALE PRICE']).mean()

real_estate_clean_df = real_estate_df.groupby(['Full_Address'], as_index=False).agg({'SALE PRICE': 'mean', 
                                                                                     'NEIGHBORHOOD': 'first', 
                                                                                     'TAX CLASS AT PRESENT': 'first', 
                                                                                     'ZIP CODE': 'first', 
                                                                                     'BUILDING CLASS AT TIME OF SALE': 'first', 
                                                                                     'borough_name': 'first'})

real_estate_clean_df.head(15)

,Full_Address,SALE PRICE,NEIGHBORHOOD,TAX CLASS AT PRESENT,ZIP CODE,BUILDING CLASS AT TIME OF SALE,borough_name
0,****** 95TH STREET Queens,0.000000e+00,OZONE PARK,1B,11417,V0,Queens
1,1 12TH ST EXTENSION Brooklyn,0.000000e+00,GOWANUS,4,11215,K6,Brooklyn
2,1 5 AVENUE Manhattan,4.925000e+06,GREENWICH VILLAGE-CENTRAL,2,10003,D4,Manhattan
3,1 5TH AVENUE Manhattan,0.000000e+00,GREENWICH VILLAGE-CENTRAL,2,10003,D4,Manhattan
4,1 ASCAN AVE Queens,6.490000e+05,FOREST HILLS,2,11375,D4,Queens
5,1 ASCAN AVENUE Queens,3.950000e+05,FOREST HILLS,2,11375,D4,Queens
6,1 BAY CLUB DRIVE Queens,5.264299e+05,BAYSIDE,2,11360,R4,Queens
7,1 BAYCLUB DRIVE Queens,0.000000e+00,BAYSIDE,2,11360,R4,Queens
8,1 BEEKMAN PLACE Manhattan,0.000000e+00,MIDTOWN EAST,2,10022,D4,Manhattan
9,1 BOERUM PLACE Brooklyn,7.650000e+07,DOWNTOWN-FULTON MALL,4,11201,O2,Brooklyn
10,1 BOND STREET Manhattan,5.640000e+06,GREENWICH VILLAGE-CENTRAL,2,10012,R4,Manhattan
11,1 BUTTONWOOD ROAD Staten Island,1.735000e+06,TODT HILL,1,10304,A3,Staten Island
12,1 CENTRAL PARK SOUTH Manhattan,1.202500e+07,MIDTOWN WEST,2,10019,R4,Manhattan
13,1 CENTRAL PARK WEST Manhattan,2.375685e+06,UPPER WEST SIDE (59-79),2,10023,R4,Manhattan
14,1 COENTIES SLIP Manhattan,2.675000e+07,FINANCIAL,2,10004,R9,Manhattan

In [15]:
#picking columns and assigning to new dataframe
# groupby_df = ['Full_Address','NEIGHBORHOOD', 'TAX CLASS AT PRESENT',
#                    'ZIP CODE', 'SALE PRICE', 'BUILDING CLASS AT TIME OF SALE', 'borough_name']

# real_estate_clean_df = real_estate_df[real_estate_cols]

# real_estate_clean_df

In [16]:
real_estate_clean_df.apply(lambda col: col.drop_duplicates().reset_index(drop=True))


real_estate_clean_df

,Full_Address,SALE PRICE,NEIGHBORHOOD,TAX CLASS AT PRESENT,ZIP CODE,BUILDING CLASS AT TIME OF SALE,borough_name
0,****** 95TH STREET Queens,0.0,OZONE PARK,1B,11417,V0,Queens
1,1 12TH ST EXTENSION Brooklyn,0.0,GOWANUS,4,11215,K6,Brooklyn
2,1 5 AVENUE Manhattan,4925000.0,GREENWICH VILLAGE-CENTRAL,2,10003,D4,Manhattan
3,1 5TH AVENUE Manhattan,0.0,GREENWICH VILLAGE-CENTRAL,2,10003,D4,Manhattan
4,1 ASCAN AVE Queens,649000.0,FOREST HILLS,2,11375,D4,Queens
...,...,...,...,...,...,...,...
58586,WOODROW ROAD Staten Island,0.0,ARDEN HEIGHTS,1B,10312,V0,Staten Island
58587,WOODYCREST AVENUE Bronx,750000.0,HIGHBRIDGE/MORRIS HEIGHTS,4,0,G7,Bronx
58588,WORTMAN AVENUE Brooklyn,0.0,EAST NEW YORK,4,0,G7,Brooklyn
58589,YORK AVENUE Staten Island,235000.0,NEW BRIGHTON,1B,10301,V0,Staten Island
58590,ZEREGA AVENUE Bronx,5000000.0,CASTLE HILL/UNIONPORT,4,10473,V1,Bronx

In [17]:
#create lat and long columns 

geolocator = Nominatim(user_agent="user_agent")
location = geolocator.geocode("327 EAST 3rd STREET Manhattan")

print((location.latitude, location.longitude))

(40.7208628, -73.9784408)

In [20]:


lat = []
long = []

i = 0

geolocator = Nominatim(user_agent="user_agent")

for address in real_estate_clean_df["Full_Address"]:
    
    addr = geolocator.geocode(address, timeout= 2)  
    if addr == None:
        lat.append(np.nan)
        long.append(np.nan)
        i += 1
        continue 
        
    else:
        i += 1
        lat.append(addr.latitude)
        long.append(addr.longitude)
        
    
    if i%500 == 0:
        print(addr.latitude, addr.longitude)
        
    else:
        pass
    


real_estate_clean_df['latitude'] = lat
real_estate_clean_df['longitude'] = long

40.6865818 -73.9683503
40.626845450000005 -74.01023305
40.8273763 -73.86118369275668
40.6544339 -73.8367169
40.6968643 -73.7853514
40.7871559 -73.83804072147147
40.754153200000005 -73.8559273689875
40.63236705 -73.92613370000001
40.676400349999994 -73.82227416392092
40.6951942 -73.8442743
40.74389664177796 -73.99287817469734
40.7461719 -73.9883736
40.781851700000004 -73.97689972304559
-36.7839272 175.0291945
40.5958892 -74.09529493966245
40.66936565 -73.80246330018936
40.761103399999996 -73.83316310990327
40.630420349999994 -73.99462299947507
40.7310922 -73.8281964
40.588130500000005 -74.18851971981422
40.789201649999995 -73.77235775076846
40.7546729 -73.8331797
40.694710900000004 -73.80588792478194
40.7048638 -73.8009766
40.7590997 -73.96945786056415
40.692827550000004 -73.90268329669064
40.6484581 -73.94958410171886
40.7741514 -73.8061286
40.730996 -73.879686
40.633865400000005 -73.8914171621758
40.7223469 -74.00851108026316
40.6756771 -73.93112055
40.587113200000005 -73.96703157750494
40.8469006 -73.90350412843915
40.614285300000006 -73.99249321758346
40.72491385 -74.00308480219346
40.624576399999995 -73.97899075000001
40.61411235 -74.06313860880199
40.69254551724138 -73.91334337931035
40.6828977 -73.88992966917381
40.7127814 -73.94180154724981
40.610624200000004 -73.98637478062678
40.6196496 -73.90391231002656
40.596315000000004 -73.93105811292872
40.74359185 -73.98738108459068
40.67685765 -73.97360085605933
40.847968800000004 -73.9049696123439
40.86021815 -73.86976204658964
40.66783045 -73.73007692387439
46.293227342198946 -63.08751330224592
40.68054229032258 -73.91447367741935
40.7862976 -73.97012326100743
40.53595645 -74.19412133769117
40.6061624 -73.91267543199655
40.6767918 -73.9683302
40.7713794 -73.8297868
40.7703463 -73.96755588490188
40.7549689 -73.9680769692
40.74382865 -74.00043136202892
40.8750522 -73.8867194
40.7618811 -73.7295829
40.7599166 -73.98961701713347
40.8734157 -73.8669046
40.7552627 -73.9272533
40.6697875 -73.8771389139785
40.62939705 -74.14863005
40.6699086 -73.90716189509378
40.680557699999994 -73.86919301180629
40.638689400000004 -74.16369430702875
40.66925725 -73.9064484
40.6381052 -74.0816153
40.8958978 -73.8756004
40.743647949999996 -73.91635962315257
40.755736999999996 -73.79244411193153
40.75228945 -73.8193613
40.7385201 -73.89863964866
40.6397672 -73.931844
40.724248349999996 -73.94627774327459
40.73668955 -73.91879563584692
40.8219567 -73.80936505
40.8355259 -73.94190198803835
40.7280162 -73.90103662636142
40.7715723 -73.989651
40.738357 -73.85745069999999
40.6525139 -73.91801459999999
40.7377503 -73.9959588
40.7201752 -73.88604380000001
40.59218955 -74.16022111652381
40.72725405 -73.86084811137243
40.7226824 -73.9407067
40.72774485 -73.84824797843811
40.65517105 -73.95749510015898
40.7015973 -73.9515287
40.62170275 -73.96820437606132
40.7084641 -73.87774150890857
40.6362467 -74.01029134915277
40.50365025 -74.25134392730332
40.622323249999994 -74.01644198408596
40.65606715 -73.85097965
40.68305135 -73.9046763504919
40.62772995 -74.01622356985746
40.68927655 -73.8577527899384
40.7072728 -73.81334127222223
40.63607355 -73.92360389772642
40.728388 -73.72970025303738
40.70816635 -73.79061548629878
40.60738245 -74.15197045466462
40.67687185 -73.94450423034996
40.6260136 -73.96799930558717
40.62796415 -74.13605804014318
40.687119 -73.975375
40.631338 -74.147787

In [ ]:
real_estate_clean_df[real_estate_clean_df['Full_Address'].str.contains('1 5TH AVENUE')]

In [26]:
real_estate_clean_df

,Full_Address,SALE PRICE,NEIGHBORHOOD,TAX CLASS AT PRESENT,ZIP CODE,BUILDING CLASS AT TIME OF SALE,borough_name,latitude,longitude
0,****** 95TH STREET Queens,0.0,OZONE PARK,1B,11417,V0,Queens,40.686989,-73.847231
1,1 12TH ST EXTENSION Brooklyn,0.0,GOWANUS,4,11215,K6,Brooklyn,NaN,NaN
2,1 5 AVENUE Manhattan,4925000.0,GREENWICH VILLAGE-CENTRAL,2,10003,D4,Manhattan,49.836689,24.020745
3,1 5TH AVENUE Manhattan,0.0,GREENWICH VILLAGE-CENTRAL,2,10003,D4,Manhattan,40.745898,-73.986688
4,1 ASCAN AVE Queens,649000.0,FOREST HILLS,2,11375,D4,Queens,40.717455,-73.841313
...,...,...,...,...,...,...,...,...,...
58586,WOODROW ROAD Staten Island,0.0,ARDEN HEIGHTS,1B,10312,V0,Staten Island,40.546672,-74.191896
58587,WOODYCREST AVENUE Bronx,750000.0,HIGHBRIDGE/MORRIS HEIGHTS,4,0,G7,Bronx,40.830083,-73.929969
58588,WORTMAN AVENUE Brooklyn,0.0,EAST NEW YORK,4,0,G7,Brooklyn,40.661459,-73.874470
58589,YORK AVENUE Staten Island,235000.0,NEW BRIGHTON,1B,10301,V0,Staten Island,40.642265,-74.087684
58590,ZEREGA AVENUE Bronx,5000000.0,CASTLE HILL/UNIONPORT,4,10473,V1,Bronx,40.836779,-73.846690

In [22]:
#push to new csv 

real_estate_clean_df.to_csv('nyc_real_estate_lat_long.csv', index = False)

In [28]:
#drop nans
final_real_estate_df = real_estate_clean_df.dropna()


final_real_estate_df

,Full_Address,SALE PRICE,NEIGHBORHOOD,TAX CLASS AT PRESENT,ZIP CODE,BUILDING CLASS AT TIME OF SALE,borough_name,latitude,longitude
0,****** 95TH STREET Queens,0.0,OZONE PARK,1B,11417,V0,Queens,40.686989,-73.847231
2,1 5 AVENUE Manhattan,4925000.0,GREENWICH VILLAGE-CENTRAL,2,10003,D4,Manhattan,49.836689,24.020745
3,1 5TH AVENUE Manhattan,0.0,GREENWICH VILLAGE-CENTRAL,2,10003,D4,Manhattan,40.745898,-73.986688
4,1 ASCAN AVE Queens,649000.0,FOREST HILLS,2,11375,D4,Queens,40.717455,-73.841313
5,1 ASCAN AVENUE Queens,395000.0,FOREST HILLS,2,11375,D4,Queens,40.717455,-73.841313
...,...,...,...,...,...,...,...,...,...
58586,WOODROW ROAD Staten Island,0.0,ARDEN HEIGHTS,1B,10312,V0,Staten Island,40.546672,-74.191896
58587,WOODYCREST AVENUE Bronx,750000.0,HIGHBRIDGE/MORRIS HEIGHTS,4,0,G7,Bronx,40.830083,-73.929969
58588,WORTMAN AVENUE Brooklyn,0.0,EAST NEW YORK,4,0,G7,Brooklyn,40.661459,-73.874470
58589,YORK AVENUE Staten Island,235000.0,NEW BRIGHTON,1B,10301,V0,Staten Island,40.642265,-74.087684
58590,ZEREGA AVENUE Bronx,5000000.0,CASTLE HILL/UNIONPORT,4,10473,V1,Bronx,40.836779,-73.846690

In [29]:

final_real_estate_df.to_csv('data/nyc_real_estate_cleaned_final.csv', index = False)

In [30]:
final_real_estate_df.dtypes

Full_Address                       object
SALE PRICE                        float64
NEIGHBORHOOD                       object
TAX CLASS AT PRESENT               object
ZIP CODE                            int64
BUILDING CLASS AT TIME OF SALE     object
borough_name                       object
latitude                          float64
longitude                         float64
dtype: object

In [37]:
real_estate_df.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [42]:




data= [final_real_estate_df["Full_Address"], real_estate_df["BUILDING CLASS CATEGORY"], 
       final_real_estate_df["SALE PRICE"],final_real_estate_df["NEIGHBORHOOD"],
       final_real_estate_df["TAX CLASS AT PRESENT"],final_real_estate_df["ZIP CODE"],
       final_real_estate_df["BUILDING CLASS AT TIME OF SALE"],
       final_real_estate_df["borough_name"],final_real_estate_df["latitude"],
       final_real_estate_df["longitude"]]

building_type_df = pd.concat(data, axis=1)

building_type_df

,Full_Address,BUILDING CLASS CATEGORY,SALE PRICE,NEIGHBORHOOD,TAX CLASS AT PRESENT,ZIP CODE,BUILDING CLASS AT TIME OF SALE,borough_name,latitude,longitude
0,****** 95TH STREET Queens,07 RENTALS - WALKUP APARTMENTS,0.0,OZONE PARK,1B,11417.0,V0,Queens,40.686989,-73.847231
1,NaN,07 RENTALS - WALKUP APARTMENTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1 5 AVENUE Manhattan,07 RENTALS - WALKUP APARTMENTS,4925000.0,GREENWICH VILLAGE-CENTRAL,2,10003.0,D4,Manhattan,49.836689,24.020745
3,1 5TH AVENUE Manhattan,07 RENTALS - WALKUP APARTMENTS,0.0,GREENWICH VILLAGE-CENTRAL,2,10003.0,D4,Manhattan,40.745898,-73.986688
4,1 ASCAN AVE Queens,07 RENTALS - WALKUP APARTMENTS,649000.0,FOREST HILLS,2,11375.0,D4,Queens,40.717455,-73.841313
...,...,...,...,...,...,...,...,...,...,...
84543,NaN,02 TWO FAMILY DWELLINGS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84544,NaN,02 TWO FAMILY DWELLINGS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84545,NaN,02 TWO FAMILY DWELLINGS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84546,NaN,22 STORE BUILDINGS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84547,NaN,35 INDOOR PUBLIC AND CULTURAL FACILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
final_w_building_type = building_type_df.dropna().reset_index()


final_w_building_type = final_w_building_type.rename(columns={"Full_Address": "full_address",
                                               "BUILDING CLASS CATEGORY": "building_class_category",
                                               "SALE PRICE": "sale_price",
                                               "NEIGHBORHOOD": "neighborhood",
                                               "TAX CLASS AT PRESENT": "tax_class_at_present",
                                               "ZIP CODE": "zip_code",
                                               "BUILDING CLASS AT TIME OF SALE": "building_class_at_time_of_sale",
                                               "borough_name": "borough_name",
                                               "latitude": "latitude",
                                               "longitude": "longitude"})

final_w_building_type

,index,full_address,building_class_category,sale_price,neighborhood,tax_class_at_present,zip_code,building_class_at_time_of_sale,borough_name,latitude,longitude
0,0,****** 95TH STREET Queens,07 RENTALS - WALKUP APARTMENTS,0.0,OZONE PARK,1B,11417.0,V0,Queens,40.686989,-73.847231
1,2,1 5 AVENUE Manhattan,07 RENTALS - WALKUP APARTMENTS,4925000.0,GREENWICH VILLAGE-CENTRAL,2,10003.0,D4,Manhattan,49.836689,24.020745
2,3,1 5TH AVENUE Manhattan,07 RENTALS - WALKUP APARTMENTS,0.0,GREENWICH VILLAGE-CENTRAL,2,10003.0,D4,Manhattan,40.745898,-73.986688
3,4,1 ASCAN AVE Queens,07 RENTALS - WALKUP APARTMENTS,649000.0,FOREST HILLS,2,11375.0,D4,Queens,40.717455,-73.841313
4,5,1 ASCAN AVENUE Queens,07 RENTALS - WALKUP APARTMENTS,395000.0,FOREST HILLS,2,11375.0,D4,Queens,40.717455,-73.841313
...,...,...,...,...,...,...,...,...,...,...,...
55737,58586,WOODROW ROAD Staten Island,13 CONDOS - ELEVATOR APARTMENTS,0.0,ARDEN HEIGHTS,1B,10312.0,V0,Staten Island,40.546672,-74.191896
55738,58587,WOODYCREST AVENUE Bronx,13 CONDOS - ELEVATOR APARTMENTS,750000.0,HIGHBRIDGE/MORRIS HEIGHTS,4,0.0,G7,Bronx,40.830083,-73.929969
55739,58588,WORTMAN AVENUE Brooklyn,13 CONDOS - ELEVATOR APARTMENTS,0.0,EAST NEW YORK,4,0.0,G7,Brooklyn,40.661459,-73.874470
55740,58589,YORK AVENUE Staten Island,13 CONDOS - ELEVATOR APARTMENTS,235000.0,NEW BRIGHTON,1B,10301.0,V0,Staten Island,40.642265,-74.087684
55741,58590,ZEREGA AVENUE Bronx,13 CONDOS - ELEVATOR APARTMENTS,5000000.0,CASTLE HILL/UNIONPORT,4,10473.0,V1,Bronx,40.836779,-73.846690

In [51]:
final_w_building_type.to_csv('data/nyc_real_estate_building_final_use_this.csv', index = False)