In [2]:
import pandas as pd
from sqlalchemy import create_engine
from geopy.geocoders import Nominatim
import numpy as np

ModuleNotFoundError: No module named 'geopy'

In [3]:
#import csv
real_estate_file = 'data/nyc-rolling-sales.csv'
real_estate_df = pd.read_csv(real_estate_file)


real_estate_df

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,0,5,1633,6440,1900,2,C2,6625000,7/19/17 0:00
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,3,31,4616,18690,1900,2,C7,-,12/14/16 0:00
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,16,1,17,2212,7803,1900,2,C7,-,12/9/16 0:00
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,...,10,0,10,2272,6794,1913,2,C4,3936272,9/23/16 0:00
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,...,6,0,6,2369,4615,1900,2,C2,8000000,11/17/16 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84543,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,,B9,37 QUAIL LANE,,...,2,0,2,2400,2575,1998,1,B9,450000,11/28/16 0:00
84544,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,,B9,32 PHEASANT LANE,,...,2,0,2,2498,2377,1998,1,B9,550000,4/21/17 0:00
84545,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,,...,2,0,2,4000,1496,1925,1,B2,460000,7/5/17 0:00
84546,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,,...,0,7,7,208033,64117,2001,4,K6,11693337,12/21/16 0:00
84547,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,,...,0,1,1,10796,2400,2006,4,P9,69300,10/27/16 0:00

In [4]:
# change address column type
real_estate_df = real_estate_df.astype({"ADDRESS": object})

real_estate_df.dtypes

BOROUGH                            int64
NEIGHBORHOOD                      object
BUILDING CLASS CATEGORY           object
TAX CLASS AT PRESENT              object
BLOCK                              int64
LOT                                int64
EASE-MENT                         object
BUILDING CLASS AT PRESENT         object
ADDRESS                           object
APARTMENT NUMBER                  object
ZIP CODE                           int64
RESIDENTIAL UNITS                  int64
COMMERCIAL UNITS                   int64
TOTAL UNITS                        int64
LAND SQUARE FEET                  object
GROSS SQUARE FEET                 object
YEAR BUILT                         int64
TAX CLASS AT TIME OF SALE          int64
BUILDING CLASS AT TIME OF SALE    object
SALE PRICE                        object
SALE DATE                         object
dtype: object

In [4]:
#change price column type

real_estate_df['SALE PRICE'] = real_estate_df['SALE PRICE'].fillna(0)

# real_estate_df['SALE PRICE'].str.replace('-','0')

real_estate_df['SALE PRICE'] = real_estate_df['SALE PRICE'].str.replace('-', "0")

real_estate_df['SALE PRICE'] = real_estate_df['SALE PRICE'].astype(str).astype(int)

real_estate_df.sample(50)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
73461,4,SPRINGFIELD GARDENS,01 ONE FAMILY DWELLINGS,1,12527,96,,A1,127-12 177TH STREET,,...,1,0,1,3750,1378,1930,1,A1,383006,10/15/16 0:00
47877,3,WILLIAMSBURG-EAST,02 TWO FAMILY DWELLINGS,1,2917,23,,B2,289 DEVOE STREET,,...,2,0,2,2500,2100,1910,1,B2,1500000,6/27/17 0:00
23236,2,RIVERDALE,10 COOPS - ELEVATOR APARTMENTS,2,5953,545,,D4,"5601 RIVERDALE AVENUE, 1O",,...,0,0,0,0,0,1954,2,D4,294000,5/24/17 0:00
24829,2,WESTCHESTER,31 COMMERCIAL VACANT LAND,4,4226,422,,V6,1850 EASTCHESTER ROAD,,...,0,0,0,4156,0,0,4,V6,0,9/21/16 0:00
14071,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1542,19,,D4,"333 EAST 79TH STREET, 6N",,...,0,0,0,-,-,1961,2,D4,1299000,8/22/17 0:00
43519,3,OCEAN PARKWAY-NORTH,07 RENTALS - WALKUP APARTMENTS,2A,6498,61,,C3,785 EAST 10TH STREET,,...,4,0,4,2542,3120,1931,2,C3,450000,6/5/17 0:00
35027,3,CYPRESS HILLS,02 TWO FAMILY DWELLINGS,1,4148,48,,B1,280 AUTUMN AVE,,...,2,0,2,1867,1936,1910,1,B1,775000,3/3/17 0:00
43558,3,OCEAN PARKWAY-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5375,58,,D4,"399 OCEAN PARKWAY, 7F",,...,0,0,0,0,0,1963,2,D4,290000,3/23/17 0:00
28273,3,BENSONHURST,03 THREE FAMILY DWELLINGS,1,6304,31,,C0,1466 82ND STREET,,...,3,0,3,2500,2400,1935,1,C0,1210000,9/15/16 0:00
42162,3,MIDWOOD,01 ONE FAMILY DWELLINGS,1,6696,25,,A5,846 EAST 13TH STREET,,...,1,0,1,2000,1540,1920,1,A5,0,11/23/16 0:00
42511,3,MIDWOOD,10 COOPS - ELEVATOR APARTMENTS,2,6776,65,,D4,"1625 EAST 13 STREET, 5H",,...,0,0,0,0,0,1939,2,D4,310000,2/16/17 0:00
63955,4,JACKSON HEIGHTS,09 COOPS - WALKUP APARTMENTS,2,1279,18,,C6,"35-28 80TH STREET, 22",,...,0,0,0,-,-,1917,2,C6,250000,10/11/16 0:00
64774,4,JAMAICA,14 RENTALS - 4-10 UNIT,2A,9837,9,,S9,165-19 HILLSIDE AVENUE,,...,2,2,4,1463,2394,1931,2,S9,860000,8/4/17 0:00
12912,1,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1420,1363,,R4,200 EAST 66TH STREET,D0102,...,1,0,1,-,-,1951,2,R4,1221900,2/27/17 0:00
76182,5,ANNADALE,01 ONE FAMILY DWELLINGS,1,6249,516,,A5,24 EAST TENAFLY AVENUE,,...,1,0,1,3900,1834,1975,1,A5,510000,12/5/16 0:00
50411,4,ASTORIA,13 CONDOS - ELEVATOR APARTMENTS,2,549,1002,,R4,30-11 21ST STREET,2A,...,1,0,1,-,-,2007,2,R4,827776,4/19/17 0:00
74637,4,SUNNYSIDE,07 RENTALS - WALKUP APARTMENTS,2A,168,51,,C3,45-42 44 STREET,,...,4,0,4,2359,2992,1928,2,C3,1330000,7/11/17 0:00
25723,3,BAY RIDGE,01 ONE FAMILY DWELLINGS,1,6044,30,,A5,354 86TH STREET,,...,1,0,1,1917,1633,1925,1,A5,870000,3/28/17 0:00
55362,4,ELMHURST,32 HOSPITAL AND HEALTH FACILITIES,4,2805,14,,I9,74-10 GRAND AVENUE,,...,0,1,1,4375,2160,1940,4,I9,1100000,5/4/17 0:00
47811,3,WILLIAMSBURG-CENTRAL,47 CONDO NON-BUSINESS STORAGE,4,2234,1402,,RS,290 HEYWARD STREET,S2,...,0,0,1,0,0,2011,4,RS,25000,5/2/17 0:00
22619,2,PELHAM PARKWAY SOUTH,05 TAX CLASS 1 VACANT LAND,1B,4293,44,,V0,2107 MATTHEWS AVENUE,,...,1,0,1,2500,0,1920,1,V0,0,12/10/16 0:00
62971,4,HOWARD BEACH,01 ONE FAMILY DWELLINGS,1,13966,80,,A2,157-32 87TH STREET,,...,1,0,1,5000,1304,1945,1,A2,620000,11/15/16 0:00
75163,4,WHITESTONE,05 TAX CLASS 1 VACANT LAND,1,4439,22,,G0,N/A PARSONS BOULEVARD,,...,0,0,0,8865,2895,2016,1,V0,0,9/9/16 0:00
16693,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1197,29,,D4,"230 CENTRAL PARK WEST, 16I",,...,0,0,0,-,-,1929,2,D4,470000,9/13/16 0:00
41024,3,GREENPOINT,29 COMMERCIAL GARAGES,4,2724,33,,G7,N/A MEEKER AVENUE,,...,0,0,0,590,0,0,4,G7,0,11/3/16 0:00
32337,3,CANARSIE,02 TWO FAMILY DWELLINGS,1,7986,52,,B1,628 EAST 82ND STREET,,...,2,0,2,2000,2760,1960,1,B1,550000,5/15/17 0:00
36833,3,EAST NEW YORK,03 THREE FAMILY DWELLINGS,1,4007,36,,C0,186 MONTAUK AVENUE,,...,3,0,3,2500,3000,2006,1,C0,640000,4/21/17 0:00
50214,4,ASTORIA,07 RENTALS - WALKUP APARTMENTS,2A,631,144,,C2,25-36 34TH STREET,,...,6,0,6,1940,3951,1924,2,C2,0,3/22/17 0:00
74133,4,ST. ALBANS,01 ONE FAMILY DWELLINGS,1,11012,35,,A5,114-58 196TH STREET,,...,1,0,1,1887,1540,1945,1,A5,427000,6/28/17 0:00
12593,1,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1453,43,,D4,"308 EAST 79TH STREET, 11B",,...,0,0,0,-,-,1928,2,D4,0,3/31/17 0:00
56549,4,FLUSHING-NORTH,01 ONE FAMILY DWELLINGS,1,5602,37,,A1,46-16 190TH STREET,,...,1,0,1,3100,1376,1930,1,A1,760000,6/6/17 0:00
75072,4,WHITESTONE,02 TWO FAMILY DWELLINGS,1,4662,57,,B1,149-14 CROSS ISLD PKWY SR S,,...,2,0,2,2742,2208,1960,1,B1,880000,1/23/17 0:00
15747,1,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1139,1325,,R4,111 WEST 67TH STREET,32-B,...,1,0,1,-,-,0,2,R4,1690000,1/12/17 0:00
56148,4,FLUSHING-NORTH,01 ONE FAMILY DWELLINGS,1,4866,13,,A2,157-18 25TH DRIVE,,...,1,0,1,3800,1196,1950,1,A2,900000,5/9/17 0:00
50598,4,ASTORIA,17 CONDO COOPS,2,830,1002,,R9,"21-15 33RD STREET, 2D",,...,0,0,0,-,-,1932,2,R9,0,6/26/17 0:00
67479,4,MIDDLE VILLAGE,03 THREE FAMILY DWELLINGS,1,2778,11,,C0,68-06 58TH ROAD,,...,3,0,3,2965,3652,1965,1,C0,0,6/8/17 0:00
57798,4,FLUSHING-NORTH,12 CONDOS - WALKUP APARTMENTS,2,5333,1008,,R2,160-21 SANFORD AVENUE,4-A2,...,1,0,1,-,-,0,2,R2,0,9/14/16 0:00
65028,4,JAMAICA HILLS,01 ONE FAMILY DWELLINGS,1,6862,302,,S1,83-25 PARSONS BOULEVARD,,...,1,1,2,2420,2680,1930,1,S1,1120000,7/13/17 0:00
45966,3,SHEEPSHEAD BAY,01 ONE FAMILY DWELLINGS,1,8815,401,,A2,21 BOGARDUS STREET,,...,1,0,1,847,595,1925,1,A2,160000,3/21/17 0:00
84460,5,WOODROW,01 ONE FAMILY DWELLINGS,1,7105,588,,A5,95 CRABTREE AVENUE,,...,1,0,1,2464,1860,2011,1,A5,568000,1/31/17 0:00
8687,1,MIDTOWN EAST,17 CONDO COOPS,2,1349,1004,,R9,"345 EAST 56TH STREET, 21F",,...,0,0,0,-,-,1960,2,R9,1350000,1/18/17 0:00
14725,1,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1550,1157,,R4,360 EAST 88TH STREET,42A,...,1,0,1,-,-,1988,2,R4,3950000,10/13/16 0:00
4034,1,GREENWICH VILLAGE-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,576,1303,,R4,60 WEST 13TH STREET,13C,...,1,0,1,-,-,1966,2,R4,0,4/27/17 0:00
45049,3,PARK SLOPE,31 COMMERCIAL VACANT LAND,4,946,6,,V1,163 4 AVENUE,,...,0,0,0,1238,0,0,4,V1,2800000,3/20/17 0:00
81319,5,NEW SPRINGVILLE,13 CONDOS - ELEVATOR APARTMENTS,2,2450,2131,,R4,11 WINDHAM LOOP,5JJ,...,1,0,1,-,-,1979,2,R4,270000,11/7/16 0:00
32747,3,CANARSIE,03 THREE FAMILY DWELLINGS,1,8294,64,,C0,1664 EAST 92 STREET,,...,3,0,3,2800,3245,1955,1,C0,0,6/19/17 0:00
50778,4,ASTORIA,44 CONDO PARKING,4,613,1158,,RG,31-35 31ST STREET,P-63,...,0,0,1,-,-,1957,4,RG,0,11/10/16 0:00
66118,4,LITTLE NECK,10 COOPS - ELEVATOR APARTMENTS,2,8256,108,,D4,"54-40 LITTLE NECK PARKWAY, 2M",,...,0,0,0,-,-,1962,2,D4,180000,6/15/17 0:00
9950,1,MURRAY HILL,10 COOPS - ELEVATOR APARTMENTS,2,884,1,,D4,"407 PARK AVENUE SOUTH, 18E",,...,0,0,0,-,-,1984,2,D4,765000,11/22/16 0:00
15170,1,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1118,22,,D4,"10 WEST 66TH STREET, 20G",,...,0,0,0,-,-,1969,2,D4,0,11/3/16 0:00

In [5]:
real_estate_df.dtypes

BOROUGH                            int64
NEIGHBORHOOD                      object
BUILDING CLASS CATEGORY           object
TAX CLASS AT PRESENT              object
BLOCK                              int64
LOT                                int64
EASE-MENT                         object
BUILDING CLASS AT PRESENT         object
ADDRESS                           object
APARTMENT NUMBER                  object
ZIP CODE                           int64
RESIDENTIAL UNITS                  int64
COMMERCIAL UNITS                   int64
TOTAL UNITS                        int64
LAND SQUARE FEET                  object
GROSS SQUARE FEET                 object
YEAR BUILT                         int64
TAX CLASS AT TIME OF SALE          int64
BUILDING CLASS AT TIME OF SALE    object
SALE PRICE                         int64
SALE DATE                         object
dtype: object

In [6]:
#add borough depending on number definfed by the data documentation.
borough_name = []


for b in real_estate_df['BOROUGH']:
    if  b == 1:
        borough_name.append("Manhattan")
        
    elif b == 2:
        borough_name.append("Bronx") 
        
    elif b == 3: 
        borough_name.append("Brooklyn") 
        
    elif b == 4:
        borough_name.append("Queens")
        
    else:
        borough_name.append("Staten Island") 
        

real_estate_df["borough_name"] = borough_name
real_estate_df.sample(50)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,borough_name
77807,5,ELTINGVILLE,01 ONE FAMILY DWELLINGS,1,5651,90,,A5,131 CROSSFIELD AVENUE,,...,0,1,2392,1440,1976,1,A5,8000,11/16/16 0:00,Staten Island
62918,4,HOLLISWOOD,10 COOPS - ELEVATOR APARTMENTS,2,10535,50,,D4,"204-15 FOOTHILL AVENUE, A53",,...,0,0,-,-,1953,2,D4,144000,10/27/16 0:00,Queens
57832,4,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,4414,1441,,R4,140-21 32ND AVENUE,5J-N,...,0,1,-,-,2009,2,R4,628000,10/11/16 0:00,Queens
31008,3,BROOKLYN HEIGHTS,13 CONDOS - ELEVATOR APARTMENTS,2,245,1152,,R4,360 FURMAN STREET,541,...,0,1,0,0,2008,2,R4,1900000,6/21/17 0:00,Brooklyn
10822,1,SOHO,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,594,1507,,R1,300 SPRING STREET,4B,...,0,1,-,-,0,2,R1,1450000,11/22/16 0:00,Manhattan
12922,1,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1420,1513,,R4,200 EAST 66TH STREET,E2103,...,0,1,-,-,1951,2,R4,3500000,6/19/17 0:00,Manhattan
457,1,CHELSEA,10 COOPS - ELEVATOR APARTMENTS,2,791,9,,D0,"155 WEST 15TH STREET, 1E",,...,0,0,-,-,1940,2,D0,1753000,3/20/17 0:00,Manhattan
42539,3,MIDWOOD,10 COOPS - ELEVATOR APARTMENTS,2,7674,21,,D4,"1925 OCEAN AVENUE, 5G",,...,0,0,0,0,1933,2,D4,250000,9/30/16 0:00,Brooklyn
66081,4,LITTLE NECK,09 COOPS - WALKUP APARTMENTS,2,8363,1,,C6,"253-40 61ST AVENUE, 1STFL",,...,0,0,-,-,1952,2,C6,240000,8/1/17 0:00,Queens
42108,3,MARINE PARK,10 COOPS - ELEVATOR APARTMENTS,2,8819,11,,D4,"2220 BURNETT STREET, 2I",,...,0,0,0,0,1952,2,D4,212000,11/1/16 0:00,Brooklyn
39883,3,GOWANUS,29 COMMERCIAL GARAGES,4,1051,58,,G1,145 PROSPECT AVENUE,,...,1,1,3105,3434,1915,4,G1,2350000,4/12/17 0:00,Brooklyn
49731,4,ASTORIA,02 TWO FAMILY DWELLINGS,1,567,16,,B3,23-23 BROADWAY,,...,0,2,3000,1120,1945,1,B3,800000,8/3/17 0:00,Queens
1224,1,CIVIC CENTER,13 CONDOS - ELEVATOR APARTMENTS,2,123,1210,,R4,30 PARK PLACE,62B,...,0,1,-,-,2008,2,R4,7150000,1/30/17 0:00,Manhattan
76842,5,BULLS HEAD,01 ONE FAMILY DWELLINGS,1,1690,32,,A1,11 AMITY PLACE,,...,0,1,4494,1312,1915,1,A1,300000,2/15/17 0:00,Staten Island
35566,3,DOWNTOWN-FULTON MALL,13 CONDOS - ELEVATOR APARTMENTS,2,170,1062,,R4,265 STATE STREET,1102,...,0,1,0,0,2014,2,R4,2278789,3/1/17 0:00,Brooklyn
68614,4,OZONE PARK,30 WAREHOUSES,4,9060,31,,E9,87-13 ROCKAWAY BOULEVARD,,...,1,1,9624,2855,1931,4,E9,1450000,7/19/17 0:00,Queens
1948,1,EAST VILLAGE,17 CONDO COOPS,2,469,1102,,R9,"111 THIRD AVE, 5A",,...,0,0,-,-,1900,2,R9,627000,10/19/16 0:00,Manhattan
8775,1,MIDTOWN EAST,43 CONDO OFFICE BUILDINGS,4,1360,1075,,RB,866 UNITED NATIONS PLAZA,514,...,0,1,-,-,1967,4,RB,0,3/30/17 0:00,Manhattan
54032,4,CORONA,16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT,2C,2005,1308,,R8,108-31 50TH AVENUE,P1,...,1,1,-,-,2014,2,R8,0,1/18/17 0:00,Queens
25447,3,BATH BEACH,02 TWO FAMILY DWELLINGS,1,6438,44,,B9,8788 19TH AVENUE,,...,0,2,1937,2620,1965,1,B9,1180000,6/29/17 0:00,Brooklyn
84509,5,WOODROW,02 TWO FAMILY DWELLINGS,1,6967,4,,B9,985 RATHBUN AVENUE,,...,0,2,2500,1440,1987,1,B9,0,9/20/16 0:00,Staten Island
18641,2,BAYCHESTER,02 TWO FAMILY DWELLINGS,1,4941,54,,B2,3649 VARIAN AVENUE,,...,0,2,2590,2270,1998,1,B2,540000,9/7/16 0:00,Bronx
67428,4,MIDDLE VILLAGE,02 TWO FAMILY DWELLINGS,1,3058,17,,B1,66-53 73RD PLACE,,...,0,2,1900,2518,1965,1,B1,785000,6/1/17 0:00,Queens
10592,1,SOHO,09 COOPS - WALKUP APARTMENTS,2C,473,130,,C6,"37B CROSBY STREET, 1",,...,0,0,-,-,1900,2,C6,1862000,8/10/17 0:00,Manhattan
68525,4,OZONE PARK,05 TAX CLASS 1 VACANT LAND,1B,9164,170,,V0,106-63 95TH STREET,,...,0,0,363,-,0,1,V0,0,1/10/17 0:00,Queens
7110,1,MANHATTAN VALLEY,12 CONDOS - WALKUP APARTMENTS,2,1840,1009,,R2,11 WEST 104 STREET,9,...,0,1,-,-,1986,2,R2,1395000,7/12/17 0:00,Manhattan
64567,4,JAMAICA,01 ONE FAMILY DWELLINGS,1,10219,37,,A1,17304 93 AVENUE,,...,0,1,4175,1662,1935,1,A1,550000,1/10/17 0:00,Queens
78590,5,GREAT KILLS,01 ONE FAMILY DWELLINGS,1,5292,51,,A1,139 WINCHESTER AVENUE,,...,0,1,4500,1810,1955,1,A1,0,3/8/17 0:00,Staten Island
47182,3,SUNSET PARK,03 THREE FAMILY DWELLINGS,1,773,49,,C0,361 49 STREET,,...,0,3,2003,2712,1901,1,C0,533237,9/15/16 0:00,Brooklyn
59521,4,FLUSHING-SOUTH,02 TWO FAMILY DWELLINGS,1,6897,19,,B3,61-25 169TH STREET,,...,0,2,4000,1564,1945,1,B3,959000,2/17/17 0:00,Queens
79341,5,LIVINGSTON,01 ONE FAMILY DWELLINGS,1,78,314,,A2,31 LINDEN STREET,,...,0,1,4000,1178,1950,1,A2,445000,6/12/17 0:00,Staten Island
35507,3,DOWNTOWN-FULTON MALL,13 CONDOS - ELEVATOR APARTMENTS,2,169,1085,,R4,53 BOERUM PLACE,10C,...,0,1,0,0,2003,2,R4,710000,6/28/17 0:00,Brooklyn
69844,4,REGO PARK,17 CONDO COOPS,2,2111,1002,,R9,"99-60 63RD ROAD, 9F",,...,0,0,-,-,1952,2,R9,155000,11/16/16 0:00,Queens
659,1,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,767,1523,,R4,212 WEST 18TH STREET,10D,...,0,1,-,-,1929,2,R4,16900000,1/13/17 0:00,Manhattan
78682,5,GREAT KILLS,01 ONE FAMILY DWELLINGS,1,5456,160,,A2,173 BROOKFIELD AVENUE,,...,0,1,4000,960,1975,1,A2,455000,11/29/16 0:00,Staten Island
82235,5,ROSEBANK,02 TWO FAMILY DWELLINGS,1,2859,38,,B2,238 MARYLAND AVENUE,,...,0,2,3125,1562,1901,1,B2,150000,9/22/16 0:00,Staten Island
58465,4,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,5066,1914,,R4,131-05 40TH ROAD,PH2R,...,0,1,-,-,2015,2,R4,762402,3/23/17 0:00,Queens
57944,4,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,4978,1415,,R4,39TH AVENUE,6A,...,0,1,-,-,2014,2,R4,795253,7/24/17 0:00,Queens
41738,3,MANHATTAN BEACH,10 COOPS - ELEVATOR APARTMENTS,2,8726,1,,D4,"110 SHORE BOULEVARD, 4B",,...,0,0,0,0,1940,2,D4,0,10/21/16 0:00,Brooklyn
30771,3,BROOKLYN HEIGHTS,10 COOPS - ELEVATOR APARTMENTS,2,217,1,,D4,"75 HENRY STREET, 1H",,...,0,0,0,0,1967,2,D4,1300000,6/29/17 0:00,Brooklyn
4696,1,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,636,1111,,R4,5 WEEHAWKEN STREET,1A,...,0,1,-,-,1900,2,R4,560037,12/15/16 0:00,Manhattan
24315,2,THROGS NECK,02 TWO FAMILY DWELLINGS,1,5545,89,,B3,755 CALHOUN AVENUE,,...,0,2,5000,1780,1930,1,B3,354000,1/18/17 0:00,Bronx
37515,3,FLATBUSH-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,5086,66,,D4,"45 MARTENSE STREET, 4J",,...,0,0,0,0,1937,2,D4,430000,7/28/17 0:00,Brooklyn
40225,3,GRAVESEND,02 TWO FAMILY DWELLINGS,1,7169,4,,B1,218 AVENUE W,,...,0,2,3045,2464,1965,1,B1,1130000,2/24/17 0:00,Brooklyn
61590,4,GLEN OAKS,10 COOPS - ELEVATOR APARTMENTS,2,8489,1,,D4,"26910 GRAND CENTRAL PARKWA, 15R",,...,0,0,-,-,1972,2,D4,0,6/22/17 0:00,Queens
73950,4,ST. ALBANS,01 ONE FAMILY DWELLINGS,1,10291,10,,A2,112-24 175TH PLACE,,...,0,1,4818,1837,1965,1,A2,557500,7/27/17 0:00,Queens
83569,5,TRAVIS,22 STORE BUILDINGS,4,2661,4,,K4,4392 VICTORY BOULEVARD,,...,2,2,945,1770,2010,4,K4,205000,10/17/16 0:00,Staten Island
76429,5,ARDEN HEIGHTS,01 ONE FAMILY DWELLINGS,1,5772,108,,A5,25 SUSANNA LANE,,...,0,1,1118,1690,1990,1,A5,365000,9/30/16 0:00,Staten Island
82009,5,PRINCES BAY,05 TAX CLASS 1 VACANT LAND,1B,6670,145,,V0,COOPER PLACE,,...,0,0,5150,-,0,1,V0,0,12/5/16 0:00,Staten Island
10110,1,MURRAY HILL,10 COOPS - ELEVATOR APARTMENTS,2,909,1,,D4,"201 EAST 28TH STREET, 14A",,...,0,0,-,-,1964,2,D4,925000,8/15/17 0:00,Manhattan

In [27]:
#get rid of appt numbers
real_estate_df['ADDRESS'] = real_estate_df['ADDRESS'].str.split(",", n = 1, expand = True)


real_estate_df.sample(50)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,borough_name,Full_Address
79111,5,GREAT KILLS-BAY TERRACE,02 TWO FAMILY DWELLINGS,1,5100,31,,B2,391 DURANT AVENUE,,...,2,4000,2104,1975,1,B2,615000,6/2/17 0:00,Staten Island,391 DURANT AVENUE Staten Island
50464,4,ASTORIA,13 CONDOS - ELEVATOR APARTMENTS,2,613,1082,,R4,31-35 31ST STREET,702,...,1,-,-,1957,2,R4,998000,5/30/17 0:00,Queens,31-35 31ST STREET Queens
9389,1,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1044,1160,,R4,301 WEST 53RD STREET,16J,...,1,-,-,1979,2,R4,1231712,12/12/16 0:00,Manhattan,301 WEST 53RD STREET Manhattan
49434,4,ARVERNE,01 ONE FAMILY DWELLINGS,1,16033,46,,A2,553 BEACH 66 STREET,,...,1,2500,1396,1965,1,A2,299000,9/29/16 0:00,Queens,553 BEACH 66 STREET Queens
15849,1,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1152,1108,,R4,243 WEST 60TH STREET,2C,...,1,-,-,2007,2,R4,1255000,8/14/17 0:00,Manhattan,243 WEST 60TH STREET Manhattan
57845,4,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,4952,1218,,R4,136-21 LATIMER PLACE,3A,...,1,-,-,2013,2,R4,430950,3/16/17 0:00,Queens,136-21 LATIMER PLACE Queens
72465,4,SOUTH JAMAICA,01 ONE FAMILY DWELLINGS,1,11963,32,,A1,111-48 147TH STREET,,...,1,2000,1056,1925,1,A1,0,1/13/17 0:00,Queens,111-48 147TH STREET Queens
25709,3,BAY RIDGE,01 ONE FAMILY DWELLINGS,1,6015,56,,A1,153 84TH STREET,,...,1,4000,2100,1920,1,A1,1625000,12/13/16 0:00,Brooklyn,153 84TH STREET Brooklyn
34514,3,CROWN HEIGHTS,07 RENTALS - WALKUP APARTMENTS,2A,1409,66,,C3,1689 CARROLL STREET,,...,4,2949,3136,1923,2,C3,0,2/15/17 0:00,Brooklyn,1689 CARROLL STREET Brooklyn
58174,4,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,5044,1530,,R4,41-25 KISSENA BOULEVARD,6G,...,1,-,-,1960,2,R4,0,7/26/17 0:00,Queens,41-25 KISSENA BOULEVARD Queens
82822,5,SOUTH BEACH,02 TWO FAMILY DWELLINGS,1,3124,116,,B2,123 FR CAPODANNO BLVD,,...,2,10836,1700,1915,1,B2,302232,3/3/17 0:00,Staten Island,123 FR CAPODANNO BLVD Staten Island
761,1,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,796,1312,,R4,655 AVENUE OF THE AMER,2L,...,1,-,-,0,2,R4,1725000,10/14/16 0:00,Manhattan,655 AVENUE OF THE AMER Manhattan
77440,5,CONCORD,02 TWO FAMILY DWELLINGS,1,2889,14,,B9,278 ODER AVENUE,,...,2,2500,1376,2004,1,B9,285000,4/14/17 0:00,Staten Island,278 ODER AVENUE Staten Island
16401,1,UPPER WEST SIDE (59-79),17 CONDO COOPS,2,1179,1308,,R9,205 WEST END AVENUE,,...,0,-,-,1962,2,R9,990000,7/14/17 0:00,Manhattan,205 WEST END AVENUE Manhattan
43483,3,OCEAN PARKWAY-NORTH,03 THREE FAMILY DWELLINGS,1,6512,29,,C0,856 EAST 10TH STREET,,...,3,4000,3411,1925,1,C0,1730000,12/5/16 0:00,Brooklyn,856 EAST 10TH STREET Brooklyn
23689,2,SOUNDVIEW,02 TWO FAMILY DWELLINGS,1,3458,113,,B1,220A STEPHENS AVENUE,,...,2,2194,1868,2006,1,B1,530000,6/15/17 0:00,Bronx,220A STEPHENS AVENUE Bronx
12019,1,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1395,50,,D4,150 EAST 61ST STREET,,...,0,-,-,1960,2,D4,835000,12/13/16 0:00,Manhattan,150 EAST 61ST STREET Manhattan
20280,2,HIGHBRIDGE/MORRIS HEIGHTS,05 TAX CLASS 1 VACANT LAND,1B,2876,90,,V0,1646 UNIVERSITY AVENUE,,...,0,5664,0,0,1,V0,870000,1/9/17 0:00,Bronx,1646 UNIVERSITY AVENUE Bronx
73135,4,SOUTH OZONE PARK,02 TWO FAMILY DWELLINGS,1,11595,38,,B3,114-09 111TH AVENUE,,...,2,2100,1392,1920,1,B3,0,2/23/17 0:00,Queens,114-09 111TH AVENUE Queens
556,1,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,695,1602,,R4,555 WEST 23RD STREET,S12L,...,1,-,-,2005,2,R4,0,10/17/16 0:00,Manhattan,555 WEST 23RD STREET Manhattan
74503,4,ST. ALBANS,03 THREE FAMILY DWELLINGS,1,11059,107,,C0,116-51 FARMERS BLVD,,...,3,1773,3120,2005,1,C0,700000,12/23/16 0:00,Queens,116-51 FARMERS BLVD Queens
65714,4,LAURELTON,01 ONE FAMILY DWELLINGS,1,13176,40,,A1,138-06 229TH STREET,,...,1,4000,2176,1930,1,A1,495000,4/6/17 0:00,Queens,138-06 229TH STREET Queens
46961,3,SUNSET PARK,02 TWO FAMILY DWELLINGS,1,685,139,,B1,818A 5 AVENUE,,...,2,1700,1160,1920,1,B1,0,2/17/17 0:00,Brooklyn,818A 5 AVENUE Brooklyn
25648,3,BAY RIDGE,01 ONE FAMILY DWELLINGS,1,5884,52,,A5,93 71ST STREET,,...,1,1169,1142,1935,1,A5,650000,9/30/16 0:00,Brooklyn,93 71ST STREET Brooklyn
21383,2,MORRISANIA/LONGWOOD,02 TWO FAMILY DWELLINGS,1,2972,102,,B2,1344 CHISHOLM STREET,,...,2,1250,1240,1920,1,B2,237100,1/18/17 0:00,Bronx,1344 CHISHOLM STREET Bronx
21824,2,MOUNT HOPE/MOUNT EDEN,03 THREE FAMILY DWELLINGS,1,2809,28,,C0,248 ECHO PLACE,,...,3,2500,2134,1899,1,C0,1850000,4/27/17 0:00,Bronx,248 ECHO PLACE Bronx
43746,3,OCEAN PARKWAY-NORTH,31 COMMERCIAL VACANT LAND,4,6536,40,,V1,1528 CONEY ISLAND AVENUE,,...,0,2000,0,0,4,V1,0,8/24/17 0:00,Brooklyn,1528 CONEY ISLAND AVENUE Brooklyn
293,1,CHELSEA,09 COOPS - WALKUP APARTMENTS,2,745,56,,C6,334 WEST 22ND STREET,,...,0,-,-,1925,2,C6,434000,5/17/17 0:00,Manhattan,334 WEST 22ND STREET Manhattan
61060,4,FOREST HILLS,17 CONDO COOPS,2,2239,1002,,R9,111-20 73RD AVE,,...,0,-,-,1966,2,R9,290000,1/23/17 0:00,Queens,111-20 73RD AVE Queens
2195,1,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,17,1313,,R4,50 WEST STREET,35B,...,1,-,-,2014,2,R4,2011043,7/28/17 0:00,Manhattan,50 WEST STREET Manhattan
51416,4,BAYSIDE,02 TWO FAMILY DWELLINGS,1,7522,55,,B9,226-11 HORACE HARDING EXPRE,,...,2,3200,2712,1965,1,B9,1170000,11/9/16 0:00,Queens,226-11 HORACE HARDING EXPRE Queens
30550,3,BRIGHTON BEACH,43 CONDO OFFICE BUILDINGS,4,8723,1003,,RB,200 CORBIN PLACE,4 (PROF 2),...,1,0,0,1959,4,RB,465000,9/23/16 0:00,Brooklyn,200 CORBIN PLACE Brooklyn
70256,4,RICHMOND HILL,02 TWO FAMILY DWELLINGS,1,9295,46,,B2,104-37 90TH AVENUE,,...,2,2500,2200,1920,1,B2,639000,7/21/17 0:00,Queens,104-37 90TH AVENUE Queens
36836,3,EAST NEW YORK,03 THREE FAMILY DWELLINGS,1,4018,129,,C0,512 LINWOOD STREET,,...,3,1104,2970,1930,1,C0,0,10/7/16 0:00,Brooklyn,512 LINWOOD STREET Brooklyn
4621,1,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,625,1024,,R4,299 WEST 12TH STREET,3B,...,1,-,-,1930,2,R4,0,10/11/16 0:00,Manhattan,299 WEST 12TH STREET Manhattan
12630,1,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1466,37,,D4,420 EAST 72ND STREET,,...,0,-,-,1962,2,D4,655000,8/23/17 0:00,Manhattan,420 EAST 72ND STREET Manhattan
11060,1,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,16,1013,,R4,377 RECTOR PLACE,12A,...,1,-,-,0,2,R4,895000,9/22/16 0:00,Manhattan,377 RECTOR PLACE Manhattan
32359,3,CANARSIE,02 TWO FAMILY DWELLINGS,1,8003,50,,B9,736 EAST 83RD STREET,,...,2,2067,2740,1960,1,B9,745000,8/14/17 0:00,Brooklyn,736 EAST 83RD STREET Brooklyn
7188,1,MANHATTAN VALLEY,13 CONDOS - ELEVATOR APARTMENTS,2,1833,4226,,R4,400 CENTRAL PARK WEST,11K,...,1,-,-,1960,2,R4,1375000,11/21/16 0:00,Manhattan,400 CENTRAL PARK WEST Manhattan
25458,3,BATH BEACH,02 TWO FAMILY DWELLINGS,1,6460,135,,B2,284 BAY 11TH STREET,,...,2,5800,2715,1901,1,B2,0,3/30/17 0:00,Brooklyn,284 BAY 11TH STREET Brooklyn
32818,3,CANARSIE,05 TAX CLASS 1 VACANT LAND,1B,8037,41,,V0,AVENUE J,,...,0,2777,0,0,1,V0,300000,8/3/17 0:00,Brooklyn,AVENUE J Brooklyn
56836,4,FLUSHING-NORTH,02 TWO FAMILY DWELLINGS,1,5031,13,,S2,40-09 149TH PLACE,,...,3,1420,2400,1915,1,S2,0,10/27/16 0:00,Queens,40-09 149TH PLACE Queens
15287,1,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1127,29,,D4,145 CENTRAL PARK WEST,,...,0,-,-,1930,2,D4,15500000,9/7/16 0:00,Manhattan,145 CENTRAL PARK WEST Manhattan
71972,4,SO. JAMAICA-BAISLEY PARK,01 ONE FAMILY DWELLINGS,1,12226,53,,A1,155-37 FOCH BOULEVARD,,...,1,2125,1581,1965,1,A1,290000,7/19/17 0:00,Queens,155-37 FOCH BOULEVARD Queens
50389,4,ASTORIA,12 CONDOS - WALKUP APARTMENTS,2,518,1004,,R2,12-14 31ST AVENUE,2,...,1,-,-,2004,2,R2,480000,11/21/16 0:00,Queens,12-14 31ST AVENUE Queens
1183,1,CIVIC CENTER,13 CONDOS - ELEVATOR APARTMENTS,2,123,1163,,R4,30 PARK PLACE,50D,...,1,-,-,2008,2,R4,6262237,11/16/16 0:00,Manhattan,30 PARK PLACE Manhattan
33559,3,COBBLE HILL,12 CONDOS - WALKUP APARTMENTS,2,300,1003,,R2,401 HICKS STREET,B-1B,...,1,0,0,1900,2,R2,1895000,11/16/16 0:00,Brooklyn,401 HICKS STREET Brooklyn
41953,3,MARINE PARK,01 ONE FAMILY DWELLINGS,1,8533,25,,A5,2139 EAST 33RD STREET,,...,1,2200,946,1935,1,A5,0,3/6/17 0:00,Brooklyn,2139 EAST 33RD STREET Brooklyn
65846,4,LAURELTON,09 COOPS - WALKUP APARTMENTS,2,12944,36,,C6,13105 233RD STREET,,...,0,-,-,1950,2,C6,157000,9/23/16 0:00,Queens,13105 233RD STREET Queens
47570,3,WILLIAMSBURG-CENTRAL,04 TAX CLASS 1 CONDOS,1C,2169,1201,,R6,479 BEDFORD AVENUE,1,...,1,0,0,1980,1,R6,0,1/26/17 0:00,Brooklyn,479 BEDFORD AVENUE Brooklyn

In [34]:
#making new column with full address

real_estate_df["Full_Address"] = real_estate_df["ADDRESS"] + " "  + real_estate_df["borough_name"]

real_estate_df.sample(10)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,borough_name,Full_Address
63604,4,JACKSON HEIGHTS,01 ONE FAMILY DWELLINGS,1,1382,13,,A5,30-16 85TH STREET,,...,1,2000,1544,1935,1,A5,0,2/8/17 0:00,Queens,30-16 85TH STREET Queens
83574,5,TRAVIS,30 WAREHOUSES,4,2661,10,,E1,4370A VICTORY BOULEVARD,,...,1,1146,2184,2011,4,E1,0,11/9/16 0:00,Staten Island,4370A VICTORY BOULEVARD Staten Island
13259,1,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1430,1004,,R9,240 EAST 76TH STREET,,...,0,-,-,1957,2,R9,1350000,6/29/17 0:00,Manhattan,240 EAST 76TH STREET Manhattan
23280,2,RIVERDALE,13 CONDOS - ELEVATOR APARTMENTS,2,5780,1060,,R4,445 WEST 240 STREET,6F,...,1,0,0,1949,2,R4,0,12/16/16 0:00,Bronx,445 WEST 240 STREET Bronx
45292,3,PROSPECT HEIGHTS,02 TWO FAMILY DWELLINGS,1,1139,14,,S2,772 DEAN STREET,,...,3,2750,4188,1931,1,S2,0,9/23/16 0:00,Brooklyn,772 DEAN STREET Brooklyn
42044,3,MARINE PARK,02 TWO FAMILY DWELLINGS,1,8486,18,,B1,1853 HENDRICKSON STREET,,...,2,8000,4360,1950,1,B1,505000,12/23/16 0:00,Brooklyn,1853 HENDRICKSON STREET Brooklyn
58559,4,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,5066,2118,,R4,131-03 40TH ROAD,15Y,...,1,-,-,2016,2,R4,805168,6/26/17 0:00,Queens,131-03 40TH ROAD Queens
38128,3,FLATBUSH-EAST,02 TWO FAMILY DWELLINGS,1,4887,30,,B1,304 EAST 34TH STREET,,...,2,3200,3120,1910,1,B1,0,7/17/17 0:00,Brooklyn,304 EAST 34TH STREET Brooklyn
22712,2,RIVERDALE,01 ONE FAMILY DWELLINGS,1,5853,2207,,A1,5651 SYLVAN AVENUE,,...,1,2500,1368,1930,1,A1,733950,4/28/17 0:00,Bronx,5651 SYLVAN AVENUE Bronx
44825,3,PARK SLOPE,10 COOPS - ELEVATOR APARTMENTS,2,1080,35,,D4,300 EIGHTH AVENUE,,...,0,0,0,1920,2,D4,210000,10/11/16 0:00,Brooklyn,300 EIGHTH AVENUE Brooklyn

In [50]:
# Create the groupby by full address
real_estate_groupby = real_estate_df.groupby(['Full_Address'])

#Find average sale price in groupby
average_sale_price = real_estate_groupby.mean()[['SALE PRICE']].reset_index()

average_sale_price.rename(columns={'SALE PRICE': 'avg_sale_price'})

                         Full_Address  avg_sale_price
0         ****** 95TH   STREET Queens             0.0
1      1 12TH   ST EXTENSION Brooklyn             0.0
2                1 5 AVENUE Manhattan       4925000.0
3              1 5TH AVENUE Manhattan             0.0
4                  1 ASCAN AVE Queens        649000.0
...                               ...             ...
58586      WOODROW ROAD Staten Island             0.0
58587         WOODYCREST AVENUE Bronx        750000.0
58588         WORTMAN AVENUE Brooklyn             0.0
58589       YORK AVENUE Staten Island        235000.0
58590             ZEREGA AVENUE Bronx       5000000.0

[58591 rows x 2 columns]

In [35]:
# Create the groupby by full address
real_estate_groupby = real_estate_df.groupby(['Full_Address'])

# SALE PRICE
average_sale_price = real_estate_groupby['SALE PRICE'].mean()

# borough_name



# groupby_address = real_estate_df['SALE PRICE'] = real_estate_df.groupby(['Full_Address'])['SALE PRICE'].transform('mean')
# df.drop_duplicates()

In [ ]:
#picking columns and assigning to new dataframe
real_estate_cols = ['Full_Address','NEIGHBORHOOD', 'TAX CLASS AT PRESENT',
                   'ZIP CODE', 'SALE PRICE', 'BUILDING CLASS AT TIME OF SALE', 'borough_name']

real_estate_clean_df = real_estate_df[real_estate_cols]

real_estate_clean_df

In [ ]:
real_estate_clean_df.apply(lambda col: col.drop_duplicates().reset_index(drop=True))


real_estate_clean_df

In [ ]:
# new_deduped_df = deduped_df.groupby("Full_Address", sort=False)

In [ ]:
#create lat and long columns 

geolocator = Nominatim(user_agent="user_agent")
location = geolocator.geocode("327 EAST 3rd STREET Manhattan")

print((location.latitude, location.longitude))

In [ ]:


lat = []
long = []

i = 0

geolocator = Nominatim(user_agent="user_agent")

for address in real_estate_clean_df["Full_Address"]:
    
    addr = geolocator.geocode(address, timeout= 1)  
    if addr == None:
        lat.append(np.nan)
        long.append(np.nan)
        i += 1
        continue 
        
    else:
        i += 1
        lat.append(addr.latitude)
        long.append(addr.longitude)
        
    
    if i%500 == 0:
        print(addr.latitude, addr.longitude)
        
    else:
        pass
    
    
#     try:
#         i += 1
#         lat.append(addr.latitude)
#         long.append(addr.longitude)
#     except:
#         i += 1
#         print("none")
#         lat.append(np.nan)
#         long.append(np.nan)
#         pass
    
    
    
#     if addr is None:
#         lat.append(None)
#         long.append(None)
        
#     else:
#         latitude = addr.latitude
#         longitude = addr.longitude  
    
#         lat.append(latitude)
#         long.append(longitude)

real_estate_clean_df['latitude'] = lat
real_estate_clean_df['longitude'] = long

In [ ]:
real_estate_clean_df[real_estate_clean_df['Full_Address'].str.contains('10 WEST 15')]